.module-4030 {
  margin-top: 4.4rem;
}
.module-4030 .contact {
  background-color: rgba(0,0,0,0.6);
  padding: 1rem 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.module-4030 .contact .links a {
  text-decoration: inherit;
  color: #ccc;
  cursor: pointer;
  font-size: 1.6rem;
}
.module-4030 .contact .links a:hover {
  opacity: 0.8;
}
.module-4030 .contact .links span {
  color: #ff7600;
  font-weight: 500;
  margin: 0 1rem;
  font-size: 1.2rem;
}
.module-4030 .contact .links .power {
  color: #fff;
}
.module-4030 .contact .icon {
  float: right;
}
.module-4030 .contact .icon .fa {
  color: #b6b7b7;
  font-size: 1.9rem;
  margin: 0.2rem;
}
.module-4030 .contact button {
  display: none;
}
.module-4030 .content {
  position: relative;
}
.module-4030 .content img {
  width: 100% !important;
}
.module-4030 .content .product {
  transform: translate(0,-50%);
  position: absolute;
  top: 50%;
  left: 38%;
  text-align: center;
}
.module-4030 .content .product h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  color: #fff;
}
.module-4030 .content .product h1 {
  font-weight: 600;
  font-size: 4rem;
  color: #fff;
}
@media (max-width: 1199px) {
  .module-4030 .contact .links a,
  .module-4030 .contact .links span {
    font-size: 1.1rem;
  }
  .module-4030 .content .product {
    top: 50%;
    left: 37%;
  }
  .module-4030 .content .product h2 {
    font-size: 1.3rem;
  }
  .module-4030 .content .product h1 {
    font-size: 4rem;
  }
}
@media (max-width: 991px) {
  .module-4030 .contact .links a,
  .module-4030 .contact .links span {
    font-size: 1rem;
  }
  .module-4030 .content .product {
    top: 50%;
    left: 35%;
  }
  .module-4030 .content .product h2 {
    font-size: 1rem;
  }
  .module-4030 .content .product h1 {
    font-size: 3rem;
  }
}
@media (max-width: 767px) {
  .module-4030 .contact {
    padding: 2rem 2.5rem;
  }
  .module-4030 .contact .links {
    display: none;
  }
  .module-4030 .contact .icon {
    display: none;
    font-size: 2rem;
    height: 2.5rem;
    background: #fff;
    margin: 0.6rem 2.7rem -3rem 0;
    bottom: 2.1rem;
    left: 2.5rem;
    width: 22.2rem;
    position: relative;
    overflow: hidden;
    transition: width .7s;
  }
  .module-4030 .contact .icon .fa {
    margin: 0 0.7rem;
  }
  .module-4030 .contact button {
    display: block;
    height: 2.5rem;
    width: 3.6rem;
    font-size: 1.8rem;
    cursor: pointer;
    right: 1.7rem;
    position: absolute;
    border: none;
    bottom: -0.9rem;
  }
  .module-4030 .contact .in {
    width: 0;
  }
  .module-4030 .content img {
    height: 30rem;
  }
  .module-4030 .content .product {
    top: 50%;
    left: 35%;
  }
  .module-4030 .content .product h2 {
    font-size: 0.8rem;
    line-height: 0rem;
  }
  .module-4030 .content .product h1 {
    font-size: 1.8rem;
    line-height: 1rem;
  }
}
@media (min-width: 768px) {
  .module-4030,
  .module-4004 {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .module-4030 {
    margin-top: 0rem;
  }
}
