body {
  background-image: linear-gradient(135deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 70.25%,rgba(0,0,0,0.06) 70.25%,rgba(0,0,0,0.06) 100%), linear-gradient(135deg,rgba(0,0,0,0.06) 0%,rgba(0,0,0,0.06) 28%,rgba(255,255,255,0) 28%,rgba(255,255,255,0) 100%), linear-gradient(45deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0.5) 100%);
  background-color: #e5e6e7;
}
.mod_custom_7 {
  margin-top: -20px;
  padding-bottom: 20px;
}
.mod_custom_7 #owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}
.mod_custom_7 .slide-content {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 110;
}
.mod_custom_7 .slide-content .subject {
  font-family: 'Calibre', Arial, Sans-Serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: .1em;
  line-height: 4rem;
}
.mod_custom_7 .slide-content span {
  cursor: default;
}
.mod_custom_7 .slide-content .hero-title {
  font-family: 'Calibre', Arial, Sans-Serif;
  font-weight: 600;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: .1em;
  color: #fff;
}
.mod_custom_7 .button.primary,
.mod_custom_7 a.button.primary {
  background: #ff8c00;
  color: #fff;
}
.mod_custom_7 .sld-hover:hover .owl-theme .owl-controls .owl-buttons div {
  opacity: 1;
  display: block;
  background: rgba(49,49,70,0.41);
}
.mod_custom_7 .button,
.mod_custom_7 a.button {
  border: 0;
  display: inline-block;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .1em;
  line-height: 1.8rem;
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
}
.mod_custom_7 .button:hover,
.mod_custom_7 .button:focus,
.mod_custom_7 .button:active,
.mod_custom_7 a.button:hover,
.mod_custom_7 a.button:focus,
.mod_custom_7 a.button:active {
  text-decoration: none;
}
.mod_custom_7 .button.primary:hover,
.mod_custom_7 a.button.primary:hover {
  background: #fa0;
  color: #fff;
}
@media (max-width: 767px) {
  .mod_custom_7 .slide-content .hero-title {
    font-size: 1.5rem;
    line-height: initial;
    margin-bottom: 2.4rem;
  }
}
@media (max-width: 767px) {
  .mod_custom_7 .slide-content .button {
    font-size: 1 rem;
    padding: .8rem 1.6rem;
  }
}
@media (max-width: 767px) {
  .mod_custom_7 .slide-content {
    left: 0;
    right: 0;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    max-height: 26.2rem;
  }
}
@media (max-width: 767px) {
  .mod_custom_7 .slide-content .subject {
    font-size: 0.9rem;
    line-height: initial;
  }
}
@media (max-width: 767px) {
  .mod_custom_7 .owl-next,
  .mod_custom_7 .owl-prev,
  .mod_custom_7 .owl-next:hover,
  .mod_custom_7 .owl-prev:hover {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .mod_custom_7 .item img {
    min-height: 30rem;
    max-height: 26rem;
  }
}
.mod_custom_2 {
  padding-bottom: 20px;
}
.mod_custom_2 #owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}
.mod_custom_2 #owl-demo3 .item img {
  display: block;
  width: 100%;
  height: auto;
}
.mod_custom_2 #owl-demo2 .item img {
  display: block;
  width: 100%;
  height: auto;
}
.mod_custom_2 h3 {
  font-size: 2.6rem;
}
.mod_custom_2 .section-header {
  color: #000;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: .05em;
  margin-bottom: 0;
  padding: 6rem 1.6rem 5rem;
  text-transform: uppercase;
}
.mod_custom_2 .panel-body {
  padding: 1.2rem 3rem;
  background: #fff;
  height: 13.4rem;
  margin-bottom: 15px;
}
.mod_custom_2 .panel-body h3 {
  font-weight: 500;
  letter-spacing: 0;
  font-size: 2.8rem;
  text-transform: none;
  margin-bottom: 1px;
}
.mod_custom_2 .panel-body h3 a {
  color: #282828;
  line-height: 1.3;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-decoration: none;
}
.mod_custom_2 p {
  color: #4d4d4d;
  height: 4.6rem;
  overflow: hidden;
}
.mod_custom_2 small {
  font-weight: 600;
  color: #999;
  text-transform: uppercase;
  display: block;
}
.mod_custom_2 .sld-hover .owl-theme .owl-controls {
  margin-top: 30px;
  text-align: center;
}
.mod_custom_2 .sld-hover:hover .owl-theme .owl-controls .owl-buttons div {
  opacity: 1;
  display: block;
  background: rgba(49,49,70,0.41);
}
@media (max-width: 767px) {
  .mod_custom_2 .Bannersld {
    height: auto !important;
  }
}
.mod_custom_2 .imagebaner img {
  max-width: 54.4rem;
  max-height: 24rem;
  margin: 0 auto;
  object-fit: cover;
  object-position: 50% 50%;
  font-family: 'object-fit: cover;';
  width: 100%;
  height: 100%;
}
.mod_custom_2 .imagebanerbig {
  max-height: 100rem;
  background: #fff;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: content-box;
}
.mod_custom_2 .imagebanerbig img {
  max-height: 61.5rem;
}
@media (max-width: 767px) {
  .mod_custom_2 p {
    font-size: 1rem;
  }
  .mod_custom_2 p a {
    line-height: 2.5rem;
  }
}
@media (max-width: 767px) {
  .mod_custom_2 .owl-next,
  .mod_custom_2 .owl-prev,
  .mod_custom_2 .owl-next:hover,
  .mod_custom_2 .owl-prev:hover {
    display: none !important;
  }
}
.mod_custom_2 .button.primary,
.mod_custom_2 a.button.primary {
  background: #ff8c00;
  color: #fff;
}
.mod_custom_2 .text-center {
  padding-top: 10px;
}
.mod_custom_2 .button,
.mod_custom_2 a.button {
  border: 0;
  display: inline-block;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .1em;
  line-height: 1.8rem;
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
  text-decoration: none;
}
.mod_custom_2 .button.primary:hover,
.mod_custom_2 a.button.primary:hover {
  background: #fa0;
  color: #fff;
}
.banner3 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.banner_4 .banner_5 .row {
  margin-left: 0px;
  margin-right: 0px;
}
.banner_4 .banner_5 .col-md-6,
.banner_4 .banner_5 .col-sm-6 {
  padding-left: 0px;
  padding-right: 0px;
}
.banner_4 .banner_5 img {
  width: 100%;
}
.banner_4 .banner_5 .text1 {
  padding: 10px 20px;
}
.banner_4 .banner_5 .text1 h4,
.banner_4 .banner_5 .text4 h4 {
  margin-bottom: 5px;
  margin-top: 2px;
}
.banner_4 .banner_5 .text1 p {
  margin-bottom: 90px;
  line-height: normal;
  color: #666;
  font-size: 13px;
}
.banner_4 .banner_5 .text1 h6,
.banner_4 .banner_5 .text4 h6 {
  color: #999;
}
.banner_4 .banner_5 .text4 {
  padding: 10px 20px;
}
.banner_4 .banner_5 .text4 p {
  margin-bottom: 62px;
  line-height: normal;
  color: #666;
  font-size: 13px;
}
.banner_4 .banner_5 .text2 {
  margin-left: 50px;
  width: 80%;
  color: #fff;
  position: absolute;
  bottom: 35px;
}
.banner_4 .banner_5 .text3 {
  margin-left: 50px;
  width: 80%;
  color: #fff;
  position: absolute;
  bottom: 310px;
}
.banner_4 .banner_5 .text2 p,
.banner_4 .banner_5 .text3 p {
  font-size: 11px;
  font-weight: 600;
}
.banner_4 .banner_5 .text2 h1,
.banner_4 .banner_5 .text3 h1 {
  margin-bottom: 30px;
  margin-top: 10px;
  font-weight: 600;
}
.banner_4 .banner_5 span {
  margin-bottom: .4rem;
  font-size: 11px;
  color: #999;
  font-weight: 600;
}
@media (max-width: 1365px) and (min-width: 1200px) {
  .banner_4 .banner_5 .text1 p {
    margin-bottom: 55px;
    line-height: normal;
    color: #666;
    font-size: 13px;
  }
  .banner_4 .banner_5 .text4 p {
    margin-bottom: 16px;
    line-height: normal;
    color: #666;
    font-size: 13px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .banner_4 .banner_5 .text1 p {
    margin-bottom: 37px;
    font-size: 11px;
  }
  .banner_4 .banner_5 .text4 p {
    margin-bottom: 13px;
    font-size: 11px;
  }
  .banner_4 .banner_5 .text1 h6,
  .banner_4 .banner_5 .text4 h6 {
    font-size: 9px;
  }
  .banner_4 .banner_5 .text1 h4,
  .banner_4 .banner_5 .text4 h4 {
    font-size: 15px;
  }
  .banner_4 .banner_5 span {
    font-size: 9px;
  }
  .banner_4 .banner_5 .text2 p,
  .banner_4 .banner_5 .text3 p {
    font-size: 10px;
  }
  .banner_4 .banner_5 .text2 h1,
  .banner_4 .banner_5 .text3 h1 {
    font-size: 25px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .banner_4 .banner_5 .text4 p {
    margin-bottom: 17px;
    font-size: 20px;
  }
  .banner_4 .banner_5 .text1 h6,
  .banner_4 .banner_5 .text4 h6 {
    font-size: 15px;
  }
  .banner_4 .banner_5 span {
    font-size: 9px;
  }
  .banner_4 .banner_5 .text2 p,
  .banner_4 .banner_5 .text3 p {
    font-size: 10px;
  }
  .banner_4 .banner_5 .text2 h1,
  .banner_4 .banner_5 .text3 h1 {
    font-size: 25px;
  }
  .banner_4 .banner_5 .text1,
  .banner_4 .banner_5 .text4 {
    padding: 9px 10px 10px 9px;
  }
  .banner_4 .banner_5 .text1 p {
    margin-bottom: 80px;
    font-size: 17px;
  }
  .banner_4 .banner_5 .text1 h4,
  .banner_4 .banner_5 .text4 h4 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .banner_4 .banner_5 .top {
    flex-direction: inherit;
    display: flex;
    padding: 25px 10px 25px 10px;
  }
  .banner_4 .banner_5 .bot {
    padding: 25px 10px 25px 10px;
    flex-direction: inherit;
    display: flex;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
  }
  .banner_4 .banner_5 .bot img {
    width: 36%;
    height: 25%;
  }
  .banner_4 .banner_5 .text2,
  .banner_4 .banner_5 .text3 {
    padding: 10px 20px;
    margin-left: 0;
    width: 100%;
    color: #000;
    position: inherit;
    bottom: 0px;
    border-bottom: 1px s;
  }
  .banner_4 .banner_5 .text1 p {
    margin-bottom: 20px;
  }
  .banner_4 .banner_5 .text1 p,
  .banner_4 .banner_5 .text4 p {
    margin-bottom: 10px;
  }
  .banner_4 .banner_5 .text2 h1,
  .banner_4 .banner_5 .text3 h1 {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .banner_4 .banner_5 .text2 h6,
  .banner_4 .banner_5 .text3 h6,
  .banner_4 .banner_5 .text1 h6,
  .banner_4 .banner_5 .text4 h6 {
    color: #999;
    font-size: 10px;
  }
  .banner_4 .banner_5 .text2 p,
  .banner_4 .banner_5 .text3 p {
    font-size: 10px;
    color: #999;
  }
}
.banner_4 .footer-component {
  background: #4d4d4d;
  box-sizing: border-box;
  color: #999;
  font-size: 1.4rem;
  letter-spacing: .05rem;
  padding-bottom: 1rem;
  padding-top: 12.5rem;
  position: relative;
  z-index: 100;
}
.banner_4 .atd_footer .footer-component .mega-container {
  padding: 0 4rem;
}
.banner_4 .atd_footer .mega-container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 160rem;
  padding: 0 1rem;
}
.banner_4 .atd_footer .footer-component ul {
  font-size: 1.4rem;
  padding: 0;
}
.banner_4 .atd_footer .list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.banner_4 .atd_footer .text-right {
  text-align: right;
}
.banner_4 .atd_footer .list-inline>li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.banner_4 .atd_footer .footer-component .social li a {
  display: block;
  color: #999;
}
.banner_4 .atd_footer li.block.socialbuttonblock>a {
  font-size: 31px;
}
.banner_4 .atd_footer .footer-component .social .fa {
  font-size: 2.6rem;
}
.banner_4 .atd_footer .footer-component p {
  font-size: 1.4rem;
  margin: 0;
  color: #999;
}
.banner_4 .atd_footer .footer-component ul {
  font-size: 1.4rem;
  padding: 0;
}
.banner_4 .atd_footer .list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.banner_4 .atd_footer .text-center {
  text-align: center;
}
.banner_4 .atd_footer .footer-component a {
  color: #ccc;
}
.banner_4 .atd_footer a:hover {
  text-decoration: none;
}
.banner_4 .atd_footer ul a {
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.banner_4 .atd_footer .footer-component .dot {
  color: #ff9600;
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .banner_4 .atd_footer .col-sm-pull-3 {
    right: 25%;
  }
  .banner_4 .atd_footer .col-sm-push-9 {
    left: 75%;
  }
  .banner_4 .atd_footer .col-sm-6 {
    width: 50%;
    float: left;
  }
  .banner_4 .atd_footer .col-sm-3 {
    width: 25%;
    float: left;
  }
}
@media (max-width: 767px) {
  .banner_4 .atd_footer .footer-component p {
    font-size: .7rem;
    margin-bottom: .6rem;
  }
  .banner_4 .atd_footer .footer-component a {
    font-size: .7rem;
  }
  .banner_4 .atd_footer p {
    line-height: 1;
  }
  .banner_4 .atd_footer .footer-component .list-inline>li {
    padding-left: .4rem;
    padding-right: .4rem;
  }
  .banner_4 .atd_footer .footer-component .dot {
    font-size: .8rem;
  }
  .banner_4 .atd_footer .footer-component .social li:first-child {
    margin-left: 0;
  }
  .banner_4 .atd_footer .footer-component .social .fa {
    font-size: 1.8rem;
    padding-left: 5px;
  }
  .banner_4 .atd_footer .footer-component .social {
    text-align: center !important;
  }
}
@media (max-width: 991px) {
  .banner_4 .atd_footer .footer-component {
    text-align: center;
  }
}
@media (max-width: 1500px) {
  .banner_4 .atd_footer .footer-component .social li {
    margin-left: .1rem;
  }
}
.endweb {
  height: 20px;
  background-color: #282828;
}
.scrollToTop {
  position: fixed;
  bottom: 2.3rem;
  right: 2.5rem;
  z-index: 9999;
  text-align: center;
  background: #999;
  color: #ccc;
  display: none;
  padding: 1.2rem 1.4rem .8rem;
  -webkit-transition: bottom .2s linear;
  transition: bottom .2s linear;
}
.scrollToTop:hover {
  text-decoration: none;
}
.icon-upload:before {
  content: "\f0aa";
}
.icon {
  font-size: 3rem;
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ATD_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.ATD_menu .navbar-default {
  background: transparent;
  border: none;
}
.ATD_menu .mega-container {
  background: #4d4d4d;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 160rem;
  padding: 0 1rem;
}
.ATD_menu .navbar-nav {
  visibility: visible;
  vertical-align: top;
}
.ATD_menu .navbar-nav li {
  margin: 0 1.8rem;
}
.ATD_menu .navbar-nav li a {
  color: #fff;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-weight: 600;
  letter-spacing: .1em;
  white-space: nowrap;
}
.ATD_menu .dropdown-toggle {
  padding: 2.2rem 0 2.3rem 0;
  text-transform: uppercase;
}
.ATD_menu .navbar-nav li .dropdown-toggle:hover {
  color: #fff;
}
.ATD_menu .navbar-nav li ul {
  display: none;
  left: 0;
}
.ATD_menu .navbar-nav li:hover ul {
  display: block;
}
.ATD_menu .navbar-nav li ul li {
  position: relative;
}
.ATD_menu .navbar-nav li ul li a {
  letter-spacing: normal;
}
.ATD_menu .dropdown:hover a.dropdown-toggle::before {
  border-bottom: 1.2rem solid #fff;
  border-left: 1.2rem solid transparent;
  border-right: 1.2rem solid transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0;
  left: 40%;
  position: absolute;
  width: 0;
}
.ATD_menu .dropdown {
  position: static;
}
.ATD_menu .dropdown-menu {
  display: block;
  left: 74.5px;
  max-width: 1200px;
  background: transparent;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.ATD_menu .mot {
  left: 584px;
  max-width: 300px;
}
.ATD_menu .navbar-nav .dropdown-menu a {
  color: #434343;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  line-height: 2.1rem;
}
.ATD_menu .dropdown-menu ul {
  list-style-type: none;
  background: #fff;
  max-width: 30rem;
}
.ATD_menu .same-height-target {
  height: 384px;
  padding-bottom: 3.6rem;
  padding-left: 3.6rem;
}
.ATD_menu .navbar-nav .menu-header {
  margin-bottom: 2.4rem;
  margin-top: 3.6rem;
  padding-bottom: 0;
}
.ATD_menu .navbar-nav .menu-header a {
  color: #ff8c00;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-weight: 600;
}
.ATD_menu .navbar-nav .menu-header a:hover {
  color: #ff8c00;
}
.ATD_menu .navbar-nav .cor {
  background: #e1e2e4;
}
.ATD_menu .navbar-center {
  float: none !important;
  display: inline-block;
}
.ATD_menu .text-center {
  text-align: center;
}
.ATD_menu .navbar-toggle:hover {
  background-color: #4d4d4d;
}
.ATD_menu .search-field-mask {
  float: right;
  height: 1px;
}
.ATD_menu .search-tablet-trigger {
  display: none;
}
.ATD_menu .fa-search {
  font-size: 22px;
  margin-top: -4px;
}
.ATD_menu .fa-bars {
  background: #fff;
  font-size: 15px;
}
.ATD_menu .navbar-form {
  padding-top: 12px;
  margin: 1.2rem 0;
  display: none;
}
.ATD_menu .search-field {
  background-color: #212226;
  padding: 0;
  position: absolute;
  top: 53px;
  right: 0;
  z-index: 10;
}
.ATD_menu .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.ATD_menu .group-selector {
  background: #101010;
  float: left;
}
.ATD_menu .dropdown {
  position: static;
}
.ATD_menu .input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.ATD_menu .group-selector button {
  background-color: #101010;
  color: #999;
  font-size: 1.4rem;
}
.ATD_menu .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.ATD_menu .group-selector.is-active+input {
  padding-right: 3.6rem;
  width: 26rem;
}
.ATD_menu .btn-default {
  border-color: #4d4d4d;
}
.ATD_menu .navbar-brand {
  height: auto;
  opacity: 0;
  padding: 1.2rem;
}
.ATD_menu .navbar-brand .img-responsive {
  width: 15.5rem;
  height: auto;
}
.ATD_menu .navbar-brand img {
  display: block;
  float: left;
  width: 100%;
}
@media screen and (max-width: 1366px) and (min-width: 768px) {
  .ATD_menu .search-field-mask .search-tablet-trigger {
    width: 4rem;
    height: 4rem;
    background: #333;
    float: right;
    color: #fff;
    margin-top: 1rem;
    padding: 1rem;
    display: block;
  }
  .ATD_menu .search-field-mask .search-tablet-trigger .icon-search {
    font-size: 2rem;
  }
  .ATD_menu .search-field {
    width: 100%;
    background: #fff;
  }
  .ATD_menu .input-group {
    width: 100%;
  }
  .ATD_menu .search-field .group-selector .dropdown-toggle {
    background: #ccc;
    color: #333;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .ATD_menu #searchInput {
    width: 79%;
    font-size: 1.8rem;
    color: #666;
    background: #fff;
  }
}
@media screen and (max-width: 1366px) and (min-width: 768px) {
  .ATD_menu .header-component .header-bar .search-field .group-selector button {
    font-size: 1.8rem;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
  }
  .ATD_menu .search-field .form-control {
    height: 7rem;
  }
}
@media screen and (max-width: 1366px) and (min-width: 1025px) {
  .ATD_menu .search-field .group-selector button {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .ATD_menu .search-field .form-control {
    height: 5rem;
  }
}
@media (min-width: 768px) {
  .ATD_menu .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .ATD_menu .navbar-header {
    float: left;
  }
}
@media (max-width: 767px) {
  .ATD_menu .nav.navbar-nav {
    display: none;
  }
  .ATD_menu .navbar-brand {
    display: inline-block;
    float: none;
    opacity: 1 !important;
    width: 10rem;
    padding: .8rem 0 0 0;
  }
  .ATD_menu .search-trigger {
    background: transparent;
    color: #fff;
    font-size: 2rem;
    margin-top: 0;
    margin-right: .5rem;
  }
  .ATD_menu .navbar-toggle {
    border: none;
    margin-left: 0;
    padding-top: .6rem;
  }
  .ATD_menu .sidebar-offcanvas {
    left: -90%;
    display: block;
    position: absolute;
    top: -7.3rem;
    width: 90%;
    bottom: 0;
  }
}
