.footer .footer-component {
  background: #4d4d4d;
  box-sizing: border-box;
  color: #999;
  font-size: 1.4rem;
  letter-spacing: .05rem;
  padding-bottom: 1rem;
  padding-top: 12.5rem;
  position: relative;
  z-index: 100;
}
.footer .footer-component .mega-container {
  padding: 0 4rem;
}
.footer .mega-container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 160rem;
  padding: 0 1rem;
}
.footer .clearfix:before,
.footer .clearfix:after,
.footer .dl-horizontal dd:before,
.footer .dl-horizontal dd:after,
.footer .container:before,
.footer .container:after,
.footer .container-fluid:before,
.footer .container-fluid:after,
.footer .row:before,
.footer .row:after,
.footer .form-horizontal .form-group:before,
.footer .form-horizontal .form-group:after,
.footer .nav:before,
.footer .nav:after,
.footer .navbar:before,
.footer .navbar:after,
.footer .navbar-header:before,
.footer .navbar-header:after,
.footer .navbar-collapse:before,
.footer .navbar-collapse:after,
.footer .pager:before,
.footer .pager:after,
.footer .panel-body:before,
.footer .panel-body:after,
.footer .modal-header:before,
.footer .modal-header:after,
.footer .modal-footer:before,
.footer .modal-footer:after {
  content: " ";
  display: table;
}
.footer .footer-component ul {
  font-size: 1.4rem;
  padding: 0;
}
.footer .list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.footer .text-right {
  text-align: right;
}
.footer .list-inline>li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.footer .footer-component .social li a {
  display: block;
  color: #999;
}
.footer li.block.socialbuttonblock>a {
  font-size: 31px;
}
.footer .footer-component .social .fa {
  font-size: 2.6rem;
}
.footer .footer-component p {
  font-size: 1.4rem;
  margin: 0;
  color: #999;
}
.footer .footer-component ul {
  font-size: 1.4rem;
  padding: 0;
}
.footer .list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.footer .text-center {
  text-align: center;
}
.footer .footer-component a {
  color: #ccc;
}
.footer a:hover {
  text-decoration: none;
}
.footer ul a {
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.footer .footer-component .dot {
  color: #ff9600;
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .footer .col-sm-pull-3 {
    right: 25%;
  }
  .footer .col-sm-push-9 {
    left: 75%;
  }
  .footer .col-sm-6 {
    width: 50%;
    float: left;
  }
  .footer .col-sm-3 {
    width: 25%;
    float: left;
  }
}
@media (max-width: 767px) {
  .footer .footer-component p {
    font-size: .7rem;
    margin-bottom: .6rem;
  }
  .footer .footer-component a {
    font-size: .7rem;
  }
  .footer p {
    line-height: 1;
  }
  .footer .footer-component .list-inline>li {
    padding-left: .4rem;
    padding-right: .4rem;
  }
  .footer .footer-component .dot {
    font-size: .8rem;
  }
  .footer .footer-component .social li:first-child {
    margin-left: 0;
  }
  .footer .footer-component .social .fa {
    font-size: 1.8rem;
    padding-left: 5px;
  }
  .footer .footer-component .social {
    text-align: center !important;
  }
}
@media (max-width: 991px) {
  .footer .footer-component {
    text-align: center;
  }
}
@media (max-width: 1500px) {
  .footer .footer-component .social li {
    margin-left: .1rem;
  }
}
