.module-4037 {
  padding: 6.6rem 0 9.2rem;
}
.module-4037 .content {
  margin-top: 10rem;
}
.module-4037 .content h4 {
  margin-bottom: 5.8rem;
  font-weight: 600;
  color: #333;
  font-size: 2.8rem;
  line-height: 3rem;
  margin: 2.5rem 0;
}
.module-4037 .content p {
  color: #666;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2rem;
}
@media (max-width: 767px) {
  .module-4037 .content {
    margin-top: 9rem;
  }
  .module-4037 .content h4 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
  }
  .module-4037 p {
    color: #333 !important;
    font-size: 1.4rem !important;
  }
}
