.module-4025 {
  background-color: #eff0f1;
  padding: 1rem 2.5rem;
  position: absolute;
  margin-top: 4.5rem;
  width: 100%;
}
.module-4025 .links a {
  text-decoration: inherit;
  color: #666;
  cursor: pointer;
  font-size: 1.6rem;
}
.module-4025 .links a:hover {
  opacity: 0.8;
}
.module-4025 .links span {
  color: #ff7600;
  font-weight: 500;
  margin: 0 1rem;
  font-size: 1.2rem;
}
.module-4025 .links .power {
  color: #333;
}
.module-4025 .icon {
  float: right;
}
.module-4025 .icon span {
  background: #ccc;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 0.2rem 0.5rem;
  position: relative;
  bottom: 0.3rem;
}
.module-4025 .icon .fa {
  color: #b6b7b7;
  font-size: 1.9rem;
  margin: 0.2rem;
}
.module-4025 button {
  display: none;
}
.module-4025 .test {
  position: absolute;
  right: 0;
}
.module-4025 .test .fa-share-square-o {
  font-size: 2.5rem;
  cursor: pointer;
  right: 0px;
  position: absolute;
  top: 1.3px;
  z-index: 10;
  border: none;
}
.module-4025 .test .item {
  position: absolute;
  right: 30px;
  margin-right: 20px;
  top: 4px;
}
.module-4025 .test .side-collapse-container {
  width: 100%;
  position: relative;
  right: 0;
  transition: left .4s;
}
.module-4025 .test .side-collapse {
  height: 2.7rem;
  background: #fff;
  margin: 0.5rem 0.5rem;
  top: -4px;
  bottom: 0;
  right: 0;
  width: 350px;
  position: absolute;
  overflow: hidden;
  transition: width .5s;
}
.module-4025 .test .side-collapse.in {
  width: 0;
}
.module-4025 .test a {
  margin: 5px;
  font-size: 1.8rem;
  color: #ccc;
}
.module-4025 .test a span {
  background-color: #ccc;
  color: #fff;
}
@media (max-width: 1199px) {
  .module-4025 .links a,
  .module-4025 .links span {
    font-size: 1.1rem;
  }
}
@media (max-width: 991px) {
  .module-4025 .links a,
  .module-4025 .links span {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .module-4025 {
    margin-top: -1.5rem;
    right: .2rem;
    background-color: transparent;
    padding: 2rem 2.5rem;
  }
  .module-4025 .links {
    display: none;
  }
  .module-4025 .icon {
    display: none;
    font-size: 2rem;
    height: 2.5rem;
    background: #fff;
    margin: 0.6rem 2.7rem 0 0;
    top: 0;
    right: 0;
    width: 33.7rem;
    position: fixed;
    overflow: hidden;
    transition: width .7s;
  }
  .module-4025 .icon .fa {
    margin: 0 0.7rem;
  }
  .module-4025 button {
    display: block;
    height: 2.5rem;
    width: 3.6rem;
    font-size: 1.8rem;
    cursor: pointer;
    right: .2rem;
    position: absolute;
    border: none;
    bottom: -0.9rem;
  }
}
@media (min-width: 768px) {
  .module-4025 .side-collapse {
    display: none;
  }
}
