.module-4029 .type-5 {
  padding: 9rem 0 15rem 0;
  background-color: #4d4d4d;
}
.module-4029 .type-5 .list .sub {
  margin-bottom: 3.2rem;
  font-weight: 700 !important;
  font-size: 1.2rem;
  line-height: 1.8rem;
  display: block;
  font-family: 'Calibre', Arial, Sans-Serif;
  color: #fff;
  letter-spacing: .05em;
  text-transform: uppercase;
}
.module-4029 .type-5 .list .sub .twitter {
  color: #00b5ef;
  margin-left: 1.8rem;
  text-decoration: none;
  text-transform: none;
}
.module-4029 .type-5 .list .sub .twitter:hover {
  color: #0092bd;
}
.module-4029 .type-5 .list ol {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}
.module-4029 .type-5 .list ol .line {
  padding: 10px;
  padding-bottom: 30px;
}
.module-4029 .type-5 .list ol .line .chim {
  font-size: 15.4px;
  float: right !important;
  color: #F5F8FA;
}
.module-4029 .type-5 .list ol .line .nho {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.module-4029 .type-5 .list ol .line .ver1 {
  padding-left: 12px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  vertical-align: top;
}
.module-4029 .type-5 .list ol .line .ver1:hover {
  color: #1b95e0;
}
.module-4029 .type-5 .list ol .line .ver2 {
  vertical-align: top;
  font-size: 13px;
  line-height: 18px;
  color: #CCD6DD;
}
.module-4029 .type-5 .list ol .line .test {
  margin-left: 51px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 300;
  text-align: left;
  direction: ltr;
  margin-top: -10px;
  color: #fff;
}
.module-4029 .type-5 .list ol .line .test span {
  color: #0092bd;
}
.module-4029 .type-5 .list ol .line .test span:hover {
  color: #33a8ca;
}
.module-4029 .type-5 .list ol .line:hover {
  background-color: rgba(25,30,35,0.61);
}
.module-4029 .type-5 .list ol .line .lon {
  margin-left: 48px;
  overflow: hidden;
  width: 90%;
}
.module-4029 .type-5 .list ol .line .icon-left {
  padding-top: 12px;
  padding-left: 48px;
}
.module-4029 .type-5 .list ol .line .icon-left a {
  color: #CCD6DD;
}
.module-4029 .type-5 .list ol .line .icon-left a:hover {
  color: #EE0000;
}
.module-4029 .type-5 .list ol .line .icon-left .a2 {
  color: #CCD6DD;
  padding-left: 14px;
}
.module-4029 .type-5 .list ol .line .icon-left .a2:hover {
  color: #0066FF;
}
.module-4029 .type-5 .list ol .v3 {
  padding-left: 12px;
  padding-bottom: 5px;
}
.module-4029 .type-5 .list ol .v3 i {
  color: #ccd6dd;
  background: #33CC33;
  padding: 2px 2px;
}
.module-4029 .type-5 .list ol .v3 span {
  color: #CCD6DD;
  font-size: 12px;
}
.module-4029 .type-5 .list ol .cot {
  padding-left: 50px;
}
.module-4029 .type-5 .list ol .cot img {
  position: relative;
  width: 100%;
}
.module-4029 .type-5 .list ol .cot .chu {
  color: #fff;
  padding: 0;
  margin-top: -10px;
}
.module-4029 .type-5 .list ol .cot .chu h2 {
  font-size: 1em;
}
.module-4029 .type-5 .list ol .cot .chu p {
  font-size: .8em;
  margin-top: -4px;
  margin-bottom: 0;
}
.module-4029 .type-5 .list ol .cot .chu span {
  color: #8899A6;
  font-size: .8em;
  margin-top: -4px;
}
.module-4029 .type-5 .list .generic-button {
  margin-top: 3.2rem;
}
.module-4029 .type-5 .list .generic-button a.button {
  background: #ff8c00;
  color: #fff;
  font-size: 1.2rem;
  line-height: normal;
  text-decoration: none;
  padding: .4rem .8rem;
}
.module-4029 .type-5 .list .generic-button a.button:hover {
  background: #fa0;
  color: #fff;
}
