.module-4016 .features {
  text-align: center;
}
.module-4016 .features h2 {
  font-weight: 700;
}
.module-4016 h4 {
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-weight: 700;
}
.module-4016 .text {
  margin: 1.5rem 0rem;
}
.module-4016 .text .box {
  color: #00b5ef;
  width: 10px;
  height: 10px;
  text-decoration: inherit;
  font-size: 2rem;
  margin-right: 1.5rem;
  border-radius: 50%;
}
.module-4016 .text span.etl {
  color: #0092bd;
  cursor: pointer;
}
.module-4016 .text span.etl:hover {
  color: #000;
}
.module-4016 .image-top {
  display: none;
}
.module-4016 .image-bot {
  margin: 20% 0;
}
.module-4016 img {
  width: 100%;
}
@media (min-width: 1200px) {
  .module-4016 .container {
    width: 1220px;
  }
}
@media (max-width: 1199px) {
  .module-4016 .new h4 {
    font-size: 1.4rem;
  }
  .module-4016 .new .text {
    font-size: 1.2rem;
  }
  .module-4016 .new .text .box {
    font-size: 1.4rem;
  }
  .module-4016 .features h2 {
    font-size: 2rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .module-4016 .image-top {
    display: none;
  }
  .module-4016 .image-bot {
    display: block;
    margin: 40% 0;
    position: absolute;
  }
  .module-4016 .col-md-5,
  .module-4016 .col-md-7 {
    width: 50%;
  }
  .module-4016 .col-md-5 {
    float: right;
  }
}
@media (max-width: 767px) {
  .module-4016 .image-top {
    display: block;
    margin: 0 1.5rem;
  }
  .module-4016 .image-bot {
    display: none;
  }
  .module-4016 .features {
    text-align: left;
    margin-left: 1.5rem;
  }
  .module-4016 .news {
    background-image: none;
  }
}
