@import "../../values/less/var.less";
.module-4020{
    .panel {
        margin-bottom: 3.8rem;  
        border: 0;
        border-radius: 0; 
        background-color: #fff;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        h4 {
            margin-bottom: 1.6rem;
        }
        .panel-body {
            padding: 3rem 2.2rem 3.2rem;

            p {
                margin-bottom: 1.8rem;
            }
            ul li {
                margin-bottom: .4rem;
                a {
                    font-size: @fontsize-content-a;
                }
                a:hover{
                    color: @textcolor-content-h1-h4;
                    text-decoration: none;
                }
            }
        }
    }
    h4 {
        margin-bottom: 1.6rem;
        color: #333;
        font-size: 2.8rem;
        line-height: 3rem;
        margin: 0;
        a {
            color: inherit;
            text-decoration: none;
        }
    }
    .larger {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    @media (max-width: 767px){
        .panel {
            margin-bottom: 1.5rem;
            .panel-body {
                padding: 1.4rem 1.8rem 1.8rem;
                h4 {
                    margin-bottom: .7rem;
                    font-size: 1.6rem;
                    line-height: 1.8rem;
                }
                p {
                    font-size: 1.3rem;
                    margin-bottom: 0;
                }
            }
        }
    }
}