.banner1 .mod_custom_7 {
  margin-top: -20px;
  padding-bottom: 20px;
}
.banner1 .mod_custom_7 #owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}
.banner1 .mod_custom_7 .slide-content {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 110;
}
.banner1 .mod_custom_7 .slide-content .subject {
  font-family: 'Calibre', Arial, Sans-Serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: .1em;
  line-height: 4rem;
}
.banner1 .mod_custom_7 .slide-content span {
  cursor: default;
}
.banner1 .mod_custom_7 .slide-content .hero-title {
  font-family: 'Calibre', Arial, Sans-Serif;
  font-weight: 600;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: .1em;
  color: #fff;
}
.banner1 .mod_custom_7 .button.primary,
.banner1 .mod_custom_7 a.button.primary {
  background: #ff8c00;
  color: #fff;
}
.banner1 .mod_custom_7 .sld-hover:hover .owl-theme .owl-controls .owl-buttons div {
  opacity: 1;
  display: block;
  background: rgba(49,49,70,0.41);
}
.banner1 .mod_custom_7 .button,
.banner1 .mod_custom_7 a.button {
  border: 0;
  display: inline-block;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .1em;
  line-height: 1.8rem;
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
}
.banner1 .mod_custom_7 .button:hover,
.banner1 .mod_custom_7 .button:focus,
.banner1 .mod_custom_7 .button:active,
.banner1 .mod_custom_7 a.button:hover,
.banner1 .mod_custom_7 a.button:focus,
.banner1 .mod_custom_7 a.button:active {
  text-decoration: none;
}
.banner1 .mod_custom_7 .button.primary:hover,
.banner1 .mod_custom_7 a.button.primary:hover {
  background: #fa0;
  color: #fff;
}
@media (max-width: 767px) {
  .banner1 .mod_custom_7 .slide-content .hero-title {
    font-size: 1.5rem;
    line-height: initial;
    margin-bottom: 2.4rem;
  }
}
@media (max-width: 767px) {
  .banner1 .mod_custom_7 .slide-content .button {
    font-size: 1 rem;
    padding: .8rem 1.6rem;
  }
}
@media (max-width: 767px) {
  .banner1 .mod_custom_7 .slide-content {
    left: 0;
    right: 0;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    max-height: 26.2rem;
  }
}
@media (max-width: 767px) {
  .banner1 .mod_custom_7 .slide-content .subject {
    font-size: 0.9rem;
    line-height: initial;
  }
}
@media (max-width: 767px) {
  .banner1 .mod_custom_7 .owl-next,
  .banner1 .mod_custom_7 .owl-prev,
  .banner1 .mod_custom_7 .owl-next:hover,
  .banner1 .mod_custom_7 .owl-prev:hover {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .banner1 .mod_custom_7 .item img {
    min-height: 30rem;
    max-height: 26rem;
  }
}
