/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: -30px;
	text-align: center;
        
}

/* Styling Next and Prev buttons */
.owl-carousel:hover .owl-prev{
        opacity: 1;
    display: block;
}
.owl-theme .owl-controls .owl-buttons div{
   
	color: #FFF;
	
	zoom: 1;
	
	margin: -21px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 11.5rem;
        height: 11.5rem;
    width: 11.5rem;
	background: rgba(255,255,255,.1);
	z-index: 10;
            transition: opacity .2s ease-in-out;
	opacity: 0;
}

.owl-prev:before {
    content: "\f104";
    margin-left: .3rem;
}
.owl-next:before {
    content: "\f105";
    margin-left: .3rem;
}
.owl-prev:before, .owl-next:before {
    color: #fff;
     font-family: 'FontAwesome';
    font-size: 7rem;
    font-weight: normal;
    height: 3.3rem;
    opacity: 1;
    text-align: center;
    width: 3.3rem;
}
.owl-next{
    right: 2.4rem;
}
.owl-prev{
    left: 2.4rem;
}

.owl-prev, .owl-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px\9;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    padding: 0;
    border: none;
    outline: none;
   
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */


/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: red;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	background: black;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 389px;
	background: url(AjaxLoader.gif) no-repeat center center
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}