.module-4013{
.module-4{
    @media (max-width: 991px) and (min-width: 768px){
        .dark{
            font-size: 10px;
        }
        .subtitle.smaller{
            font-size: 10px !important;
        }
        .editor-content-component{
            p{
                font-size: 12px !important;
            }
        }
        .scrollable-table-component tr.content td{
            padding-top: 0rem !important;
        }
        .scrollable-table-component tr.content td{
            padding-left: 0rem;
        }
        .scrollable-table-component th{
            width: 21rem !important;
        }
        .scrollable-table-component .inner{
            padding-bottom: 10px !important;
            margin-left: 19rem !important;
        }
        .scrollable-table-component tr.content th a{
            font-size: 12px;
            font-weight: 600;
        }
        .scrollable-table-component tr.title td{
            font-size: 10px;
        }
        .scrollable-table-component tr.content td{
            font-size: 9px;
            font-weight: 600;
              
                
        }
        .scrollable-table-component tr.content th a{
            font-size: 10px !important;

        }
        .scrollable-table-component th{
            width: 17rem !important;
        }
      
    }
    @media (max-width: 1199px) and (min-width: 992px){
        .dark{
            font-size: 10px;
        }
        .subtitle.smaller{
            font-size: 10px !important;
        }
        .editor-content-component{
            p{
                font-size: 12px !important;
            }
        }
        .scrollable-table-component th{

        }
        .scrollable-table-component th{
            width: 21rem !important;
        }
        .scrollable-table-component .inner{
            padding-bottom: 10px !important;
            margin-left: 19rem !important;
        }
        .scrollable-table-component tr.content th a{
            font-size: 12px;
            font-weight: 600;
        }
        .scrollable-table-component tr.title td{
            font-size: 10px;
        }
        .scrollable-table-component tr.content td{
            font-size: 12px
        }
    }
    .wrapper-inverted-background{
        background-image: linear-gradient(135deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 67.25%,rgba(0,0,0,.06) 67.25%,rgba(0,0,0,.06) 100%),linear-gradient(-135deg,rgba(0,0,0,.02) 26%,rgba(0,0,0,.03) 36%,rgba(255,255,255,0) 36%,rgba(255,255,255,0) 100%);
        background-color: #e5e6e7;
    }
    .section-wrapper-component {
        padding: 8.6rem 0 9.2rem;
        .specifications {
            padding-bottom: 6.4rem;
            .editor-content-component{
                margin-top: .4rem;

            }
            .scrollable-table-component{
                margin: 1.2rem 0 4rem;


                tbody {
                    width: 100%;
                }
                .same-height-table-title-component{
                    width: 100%;
                }

                .text-right {
                    text-align: right;
                }
            }
        }
        h3{
            margin-bottom: 0;
            padding-bottom: 6.8rem;
        }
    }
    .xx-thick {
        font-weight: 700!important;
    }
    .text-center {
        text-align: center;
    }
    .editor-content-component{
        padding-bottom: 1.6rem;
        p{
            margin-bottom: 2.4rem;
            color: #666;
            font-family: 'Calibre',Arial,Sans-Serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 2.3rem;
            margin: 0 0 10px;
        }
    }
    .subtitle.smaller {
        font-size: 1.4rem;
        line-height: 1.8rem;
        padding-bottom: 10px;
        font-weight: 600 !important;
    }
    .subtitle {
        display: block;
        font-family: 'Calibre',Arial,Sans-Serif;
        letter-spacing: .05em;
        text-transform: uppercase;
    }
    .dark {
        color: #666;
    }
    table {
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
    }
    th {
        color: #333;
        font-family: 'Calibre',Arial,Sans-Serif;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.4rem;
    }
    .scrollable-table-component tr.title td {
        background-color: #82be52;
        color: #fff;
        line-height: 1.6rem;
        padding-top: .4rem;
    }
    .scrollable-table-component td:first-of-type {
        padding-left: 3.2rem;
    }
    .scrollable-table-component td{
        padding: .2rem 0 .8rem 2rem;
        vertical-align: middle;
    }
    .thick {
        font-weight: 500;
    }
    .scrollable-table-component th {
        background-color: #f3f4f5;
        left: 0;
        padding: 0 2.2rem 0 0;
        position: absolute;
        width: 27rem;
        height: 52px;
        vertical-align: middle;
    }
    .scrollable-table-component tr.content th a {
        bottom: auto;
        position: absolute;
        right: 2.2rem;
        top: 50%;
        transform: translateY(-50%);
        padding-right: 1.6rem;
        margin-left: 2rem;
        text-decoration: none;
    }
    .larger {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    .scrollable-table-component .inner {
        background-color: #fff;
        margin-left: 27rem;
        overflow-x: auto;
        overflow-y: visible;
        padding-bottom: 4.6rem;
        width: auto;
    }
    .scrollable-table-component .outer {
        background-color: #f3f4f5;
        position: relative;
    }
    .scrollable-table-component tr.content td {
        padding-top: .8rem;
    }
    .fa{
        bottom: 0;
        position: absolute;
        right: 0.8rem;
        height: 19px;
        font-size: 1.4rem;
        top: 50%;
        transform: translateY(-50%);

    }
    .scrollable-table-component tr.title th span{
        bottom: .8rem;
        position: absolute;
        right: 2.2rem;
    }
    .dropdown {
        position: relative;
    }
    .dropdown.secondary button {
        background-color: #fff;
        color: #666;
        font-size: 1.6rem;
        font-weight: 500;
        padding: 1.2rem 1rem 1.2rem 1.6rem;
        text-align: left;
        width: 100%;
    }
    button{
        border: 0;
    }
    .dropdown.secondary button .fa {

        font-size: 1.4rem;
        font-weight: 700;
        margin: -0s.9rem .4rem 0 0;
        transform: rotate(90deg);
    }
    .pull-right {
        float: right!important;
    }
    .specifications .dropdown.secondary .dropdown-menu {
        z-index: 1000;
    }
    .dropdown.secondary .dropdown-menu {
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        border: none;
        max-height: 34rem;
        overflow-y: scroll;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #fff;
        background-clip: padding-box;
    }
    ul{
        color: #666;
        font-family: 'Calibre',Arial,Sans-Serif;
        font-weight: 400;
        line-height: 2.3rem;
    }
    .dropdown.secondary .dropdown-menu a {
        color: #666;
        font-weight: 500;
        line-height: 2rem;
        padding: 0 2.6rem .3rem;
        white-space: normal;
    }
    .dropdown-menu>li>a {
        display: block;
        clear: both;
    }
    select{
        height: 50px;
        width: 100%;
    }
    select.form-control {
        padding: .6rem 3.5rem .6rem 1.2rem;
    }
    .form-control{
        font-size: 1.4rem;
        height: 4.4rem;
        padding: .6rem 1.2rem;
        background-color: #FFF;
        border-radius: 0;
        box-shadow: none;
        color: #666;
        font-family: 'Calibre', Arial, Sans-Serif;
        font-weight: 400;
    }
    @media(max-width: 991x){
        .section-wrapper-component h3{
            font-size: 1.5rem;
            margin-bottom: 1rem;
            padding: 0;
            text-align: left;
        }
        .section-wrapper-component.specifications .editor-content-component p{
            font-size: 1.5rem;
        }
        p{
            color: #333;
            font-size: 1.6rem;
        }

    }

}
}