.module_4 .page {
  background: #fff;
  position: relative;
  overflow: hidden;
}
.module_4 .featured {
  padding: 8.6rem 0 9.2rem;
}
.module_4 .featured h3 {
  padding-bottom: 3rem;
  margin-bottom: 0;
}
.module_4 .featured .component {
  padding-bottom: 1.8rem;
}
.module_4 .featured .featured-tile {
  padding: 0;
}
.module_4 .text {
  text-align: center;
  font-weight: 700 !important;
}
.module_4 .component p {
  margin-bottom: 2.4rem;
  color: #666;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 2.3rem;
}
.module_4 .row {
  margin-left: -10px;
  margin-right: -10px;
}
.module_4 .featured .taget .image {
  display: table-cell;
  vertical-align: middle;
}
.module_4 .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.module_4 .featured .taget {
  height: 439px;
  display: table;
  table-layout: fixed;
}
.module_4 .featured .taget .content {
  padding-left: 6rem;
  display: table-cell;
  vertical-align: middle;
}
.module_4 .component .featured .featured-tile h4 {
  margin-bottom: 1.4rem;
  color: #333;
  font-size: 2.8rem;
  line-height: 3rem;
  margin: 0;
}
.module_4 h4 a {
  color: inherit;
  text-decoration: none;
}
.module_4 h4 {
  color: #333;
  font-size: 2.8rem;
  line-height: 3rem;
  margin: 0;
  margin-bottom: 18px;
}
.module_4 .larger {
  font-size: 15px;
  line-height: 2.3rem;
}
.module_4 p {
  color: #666;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-weight: 400;
}
.module_4 .text-left {
  text-align: left;
}
.module_4 .button,
.module_4 a.button {
  background: #ff8c00;
  color: #fff;
  border: 0;
  display: inline-block;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .1em;
  line-height: 1.8rem;
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
  text-decoration: none;
}
.module_4 .button:hover,
.module_4 a.button:hover {
  background: #fa0;
  color: #fff;
}
@media (max-width: 991px) and (min-width: 768px) {
  .module_4 .component p {
    font-size: 12px;
    margin-bottom: -50px;
  }
  .module_4 .featured h3 {
    font-size: 20px;
  }
  .module_4 h4 {
    font-size: 20px;
  }
  .module_4 .larger {
    font-size: 11px !important;
  }
  .module_4 .button,
  .module_4 a.button {
    font-size: 9px;
    padding: 9px 15px;
  }
}
@media (max-width: 767px) {
  .module_4 .featured .container .content .text-left {
    text-align: center;
  }
  .module_4 .featured .container .content {
    padding: .6rem 0 190px;
  }
  .module_4 .component .featured-tile h3 {
    text-align: center;
  }
  .module_4 .featured h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    padding: 0;
  }
  .module_4 .featured .featured-tile  h4 {
    font-size: 2.1rem;
    margin: .8rem 0 .6rem;
  }
  .module_4 .featured .featured-tile p {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  .module_4 .button,
  .module_4 a.button {
    font-size: 9px;
    padding: 9px 15px;
  }
  .module_4 .featured .component p {
    margin-bottom: .2rem;
  }
}
