.scroll .scrollToTop {
  position: fixed;
  bottom: 2.3rem;
  right: 2.5rem;
  z-index: 9999;
  text-align: center;
  background: #999;
  color: #ccc;
  display: none;
  padding: 1.2rem 1.4rem .8rem;
  -webkit-transition: bottom .2s linear;
  transition: bottom .2s linear;
}
.scroll .scrollToTop:hover {
  text-decoration: none;
}
.scroll .icon-upload:before {
  content: "\f0aa";
}
.scroll .icon {
  font-size: 3rem;
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
