@media screen and (min-width: 768px) {
  .module-menu .tab_mobile {
    display: none;
  }
}
.module-menu .tab_mobile .styletabs {
  background-color: #b2b2cc;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  left: 0;
  height: auto;
}
.module-menu .tab_mobile .search-tablet-trigger {
  float: right;
  background: transparent;
  color: #fff;
  font-size: 3rem;
  margin-right: .5rem;
}
.module-menu .tab_mobile .search-field {
  float: right;
  margin-right: 15px;
}
.module-menu .header .ATD_menu .navbar-header  .fixe {
  opacity: 1;
}
.module-menu .header .ATD_menu .navbar-default {
  background: transparent;
  border: none;
  padding-top: 51px;
  z-index: 999;
}
.module-menu .header .ATD_menu .mega-container {
  background: #4d4d4d;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 160rem;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
}
.module-menu .header .ATD_menu .navbar-nav {
  visibility: visible;
  vertical-align: top;
}
.module-menu .header .ATD_menu .navbar-nav li {
  margin: 0 1.8rem;
}
.module-menu .header .ATD_menu .navbar-nav li a {
  color: #fff;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-weight: 600;
  letter-spacing: .1em;
  white-space: nowrap;
}
.module-menu .header .ATD_menu .dropdown-toggle {
  padding: 2.2rem 0 2.3rem 0;
  text-transform: uppercase;
}
.module-menu .header .ATD_menu .navbar-nav li .dropdown-toggle:hover {
  background-color: #4d4d4d;
  color: #fff;
}
.module-menu .header .ATD_menu .navbar-nav li ul {
  display: none;
  left: 0;
}
.module-menu .header .ATD_menu .navbar-nav li:hover ul {
  display: block;
}
.module-menu .header .ATD_menu .navbar-nav li ul li {
  position: relative;
}
.module-menu .header .ATD_menu .navbar-nav li ul li a {
  letter-spacing: normal;
}
.module-menu .header .ATD_menu .dropdown:hover a.dropdown-toggle::before {
  border-bottom: 1.2rem solid #fff;
  border-left: 1.2rem solid transparent;
  border-right: 1.2rem solid transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0;
  left: 40%;
  position: absolute;
  width: 0;
}
.module-menu .header .ATD_menu .dropdown-menu {
  display: block;
  z-index: 1000;
  left: 74.5px;
  max-width: 1200px;
  background: transparent;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.module-menu .header .ATD_menu .mot {
  left: 584px;
  max-width: 300px;
}
.module-menu .header .ATD_menu .navbar-nav .dropdown-menu a {
  color: #434343;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  line-height: 2.1rem;
}
.module-menu .header .ATD_menu .dropdown-menu a {
  color: #434343;
}
.module-menu .header .ATD_menu .dropdown-menu a:hover {
  color: #434343;
}
.module-menu .header .ATD_menu .all {
  left: 0;
  display: none;
  width: 0;
}
.module-menu .header .ATD_menu .dropdown-menu ul {
  list-style-type: none;
  background: #fff;
  max-width: 30rem;
}
.module-menu .header .ATD_menu .same-height-target {
  height: 384px;
  padding-bottom: 3.6rem;
  padding-left: 3.6rem;
}
.module-menu .header .ATD_menu .navbar-nav .menu-header {
  margin-bottom: 2.4rem;
  margin-top: 3.6rem;
  padding-bottom: 0;
}
.module-menu .header .ATD_menu .navbar-nav .menu-header a {
  color: #ff8c00;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-weight: 600;
  white-space: pre-line;
}
.module-menu .header .ATD_menu .navbar-nav .menu-header a:hover {
  color: #ff8c00;
}
.module-menu .header .ATD_menu .navbar-nav .cor {
  background: #e1e2e4;
}
.module-menu .header .ATD_menu .navbar-center {
  float: none !important;
  display: inline-block;
}
.module-menu .header .ATD_menu .text-center {
  text-align: center;
}
.module-menu .header .ATD_menu .navbar-toggle:hover {
  background-color: #4d4d4d;
}
.module-menu .header .ATD_menu .search-field-mask {
  float: right;
  height: 1px;
}
.module-menu .header .ATD_menu .search-tablet-trigger {
  display: none;
}
.module-menu .header .ATD_menu .fa-search {
  font-size: 22px;
  margin-top: -4px;
}
.module-menu .header .ATD_menu .navbar-form {
  padding-top: 12px;
  margin: 1.2rem 0;
  display: none;
}
.module-menu .header .ATD_menu .search-field {
  background-color: #212226;
  padding: 0;
  position: fixed;
  top: 53px;
  right: 0;
  z-index: 10;
  top: 102px;
}
.module-menu .header .ATD_menu .input-group {
  position: relative;
  display: flex;
  border-collapse: separate;
}
.module-menu .header .ATD_menu .group-selector {
  background: #101010;
  float: left;
}
.module-menu .header .ATD_menu .dropdown {
  position: static;
}
.module-menu .header .ATD_menu .input-group-btn .dropdown-menu {
  visibility: visible !important;
}
.module-menu .header .ATD_menu .group-selector .dropdown-menu {
  right: auto;
}
.module-menu .header .ATD_menu .group-selector ul.dropdown-menu {
  background: #fff;
}
.module-menu .header .ATD_menu .input-group-btn a {
  padding: .8rem 2rem;
}
.module-menu .header .ATD_menu .input-group-btn li.active a {
  background-color: #f5f5f5;
}
.module-menu .header .ATD_menu .group-selector button {
  background-color: #101010;
  color: #999;
  font-size: 1.4rem;
}
.module-menu .header .ATD_menu .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.module-menu .header .ATD_menu .group-selector.is-active+input {
  padding-right: 3.6rem;
  width: 26rem;
}
.module-menu .header .ATD_menu .btn-default {
  border-color: #4d4d4d;
}
.module-menu .header .ATD_menu .navbar-brand {
  height: auto;
  padding: 1.2rem;
}
.module-menu .header .ATD_menu .navbar-brand .img-responsive {
  width: 15.5rem;
  height: auto;
}
.module-menu .header .ATD_menu .navbar-brand img {
  display: block;
  float: left;
  width: 100%;
}
.module-menu .header .ATD_menu .dropdown-action {
  float: right;
}
.module-menu .header .ATD_menu .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #333;
  display: block;
  transition: 0.3s;
  font-size: 1.6rem;
  font-weight: 600;
}
.module-menu .header .ATD_menu .sidenav .menu-header {
  margin-bottom: 2.4rem;
  margin-top: 3rem;
  padding-bottom: 0;
  list-style: none;
}
.module-menu .header .ATD_menu .sidenav .menu-header a {
  color: #ff8c00;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-weight: 600;
}
.module-menu .header .ATD_menu .sidenav .menu-header a:hover {
  color: #ff8c00;
}
.module-menu .header .ATD_menu .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ccc;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: left;
  padding-left: 0;
}
.module-menu .header .ATD_menu .border {
  border-bottom: 1px solid #333;
  list-style: none;
}
.module-menu .header .ATD_menu .fa-chevron-right {
  font-size: 12px;
}
.module-menu .header .ATD_menu .form-group {
  margin-bottom: 16px;
}
.module-menu .header .ATD_menu .select-wrapper {
  position: relative;
}
.module-menu .header .ATD_menu select.form-control {
  padding: .6rem 3.5rem .6rem 1.2rem;
}
.module-menu .header .ATD_menu .form-control {
  font-size: 1.4rem;
  height: 4.4rem;
  padding: .6rem 1.2rem;
  background-color: #fff;
  border-radius: 0;
  box-shadow: none;
  color: #666;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-weight: 400;
}
.module-menu .header .ATD_menu .sidebar-controls {
  padding: 0 1.8rem 0 1.8rem;
}
.module-menu .header .ATD_menu .button {
  text-align: center;
  margin-top: 0;
  border: 0;
  display: inline-block;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .1em;
  line-height: 1.8rem;
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
  margin-bottom: 12px;
  width: 0;
}
.module-menu .header .ATD_menu .light {
  background: #999;
  color: #fff;
}
.module-menu .header .ATD_menu .sidebar-controls a {
  margin-bottom: 2.4rem;
  margin-top: 3rem;
  padding-bottom: 0;
  padding: 8px 8px;
}
@media screen and (max-width: 1366px) and (min-width: 768px) {
  .module-menu .header .ATD_menu .search-field-mask .search-tablet-trigger {
    width: 4rem;
    height: 4rem;
    background: #333;
    float: right;
    color: #fff;
    margin-top: 1rem;
    padding: 1rem;
    display: block;
  }
  .module-menu .header .ATD_menu .search-field {
    width: 100%;
    background: #fff;
  }
  .module-menu .header .ATD_menu .input-group {
    width: 100%;
  }
  .module-menu .header .ATD_menu .search-field .group-selector .dropdown-toggle {
    background: #ccc;
    color: #333;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .module-menu .header .ATD_menu #searchInput {
    width: 79%;
    font-size: 1.8rem;
    color: #666;
    background: #fff;
    border-bottom: 0;
    border-right: 0;
  }
  .module-menu .header .ATD_menu .sidenav {
    display: none;
  }
}
@media screen and (max-width: 1366px) and (min-width: 768px) {
  .module-menu .header .ATD_menu .search-field .group-selector button {
    font-size: 1.8rem;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
  }
  .module-menu .header .ATD_menu .search-field .form-control {
    height: 7rem;
  }
}
@media screen and (max-width: 1366px) and (min-width: 1025px) {
  .module-menu .header .ATD_menu .search-field .group-selector button {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .module-menu .header .ATD_menu .search-field .form-control {
    height: 5rem;
  }
}
@media screen and (max-width: 830px) and (min-width: 768px) {
  .module-menu .header .ATD_menu .navbar-nav li {
    margin: 0 1.1rem;
  }
}
@media (min-width: 768px) {
  .module-menu .header .ATD_menu .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .module-menu .header .ATD_menu .navbar-header {
    float: left;
  }
}
@media (max-width: 767px) {
  .module-menu .header .ATD_menu .navbar-nav {
    display: none;
  }
  .module-menu .header .ATD_menu .navbar-brand {
    display: inline-block;
    float: none;
    opacity: 1 !important;
    width: 10rem;
    padding: .8rem 0 0 0;
  }
  .module-menu .header .ATD_menu .search-trigger {
    background: transparent;
    color: #fff;
    font-size: 2rem;
    margin-top: 0;
    margin-right: .5rem;
  }
  .module-menu .header .ATD_menu .navbar-toggle {
    border: none;
    margin-left: 0;
    padding-top: .6rem;
  }
  .module-menu .header .ATD_menu .group-selector ul.dropdown-menu li {
    display: inline-block;
    float: none;
    width: auto;
  }
  .module-menu .header .ATD_menu .search-field {
    position: absolute;
    right: 0;
    left: 0;
    background-color: #fff;
    color: #000;
    margin-top: 0;
    border: none;
    display: none;
  }
  .module-menu .header .ATD_menu .search-field .group-selector button.dropdown-toggle {
    display: none;
  }
  .module-menu .header .ATD_menu .search-field .group-selector.is-active+input {
    width: 100%;
    height: 5rem;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
  }
  .module-menu .header .ATD_menu .search-field .group-selector ul.dropdown-menu {
    width: 100%;
    display: block;
    visibility: visible !important;
    background: #edeeef;
    position: absolute;
    overflow: auto;
  }
  .module-menu .header .ATD_menu .search-field .group-selector ul.dropdown-menu li {
    display: inline-block;
    float: none;
    width: auto;
  }
  .module-menu .header .ATD_menu .search-field .group-selector ul.dropdown-menu li:first-child {
    padding-left: 1.7rem;
  }
  .module-menu .header .ATD_menu .search-field .group-selector .active {
    border-bottom: .2rem solid #ff7600;
  }
  .module-menu .header .ATD_menu .search-field .group-selector ul.dropdown-menu li a {
    padding: 1.5rem 1.4rem;
    display: inline-block;
    background: none;
  }
}
@media screen and (max-height: 450px) {
  .module-menu .header .ATD_menu .sidenav {
    padding-top: 15px;
  }
  .module-menu .header .ATD_menu .sidenav a {
    font-size: 18px;
  }
}
.module-menu .header .hiding-header {
  height: 200px;
  background: #262626;
  box-sizing: border-box;
  left: 0;
  padding-top: 1.6rem;
  right: 0;
  z-index: 0;
  overflow: hidden;
}
.module-menu .header .navbar-brand-full {
  top: -12px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  display: inline-block;
  margin-top: 4.7rem;
}
.module-menu .header .text-right {
  text-align: right;
  background: black;
}
.module-menu .header .contact-button {
  margin-left: 12px;
}
.module-menu .header .contact {
  margin-left: 101px;
}
.module-menu .header .action-bar a {
  color: #999;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}
.module-menu .header .dropdown-menu:hover {
  background-color: #4d4d4d;
}
.module-menu .header button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.module-menu .header .close {
  float: right;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
}
.module-menu .header .action-bar a.button {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.module-menu .header .button.x-dark,
.module-menu .header a.button.x-dark {
  background: #4d4d4d;
  color: #fff;
  font-weight: 600;
}
.module-menu .header .notification-language-switcher {
  position: relative;
  left: 10rem;
}
.module-menu .header .navbar-brand-full img {
  width: 14.6rem;
  height: auto;
}
.module-menu .header .dropdown-toggle {
  padding: 2.2rem 0 2.3rem 0;
  text-transform: uppercase;
}
.module-menu .header .dropdown:hover a.dropdown-toggle::before {
  border-bottom: 1.2rem solid #fff;
  border-left: 1.2rem solid transparent;
  border-right: 1.2rem solid transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0;
  left: 40%;
  position: absolute;
  width: 0;
}
.module-menu .header .dropdown-menu {
  display: block;
  left: 74.5px;
  max-width: 1200px;
  background: transparent;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.module-menu .header .mot {
  left: 584px;
  max-width: 300px;
}
.module-menu .header .dropdown-menu a {
  color: #434343;
}
.module-menu .header .dropdown-menu a:hover {
  color: #434343;
}
.module-menu .header .all {
  left: 0;
  display: none;
}
.module-menu .header .dropdown-menu ul {
  list-style-type: none;
  background: #fff;
  max-width: 30rem;
}
.module-menu .header .same-height-target {
  height: 384px;
  padding-bottom: 3.6rem;
  padding-left: 3.6rem;
}
.module-menu .header .navbar-center {
  float: none !important;
  display: inline-block;
}
.module-menu .header .text-center {
  text-align: center;
}
.module-menu .header .navbar-toggle:hover {
  background-color: #4d4d4d;
}
.module-menu .header .search-field-mask {
  float: right;
  height: 1px;
}
.module-menu .header .search-tablet-trigger {
  display: none;
}
.module-menu .header .fa-search {
  font-size: 22px;
  margin-top: -4px;
}
.module-menu .header .navbar-form {
  padding-top: 12px;
  margin: 1.2rem 0;
  display: none;
}
.module-menu .header .search-field {
  background-color: #212226;
  padding: 0;
  position: absolute;
  right: 0;
  z-index: 10;
  display: inline;
}
.module-menu .header .input-group {
  position: relative;
  display: flex;
  border-collapse: separate;
}
.module-menu .header .group-selector {
  background: #101010;
  float: left;
}
.module-menu .header .dropdown {
  position: static;
}
.module-menu .header .input-group-btn .dropdown-menu {
  visibility: visible !important;
}
.module-menu .header .group-selector .dropdown-menu {
  right: auto;
}
.module-menu .header .group-selector ul.dropdown-menu {
  background: #fff;
}
.module-menu .header .input-group-btn a {
  padding: .8rem 2rem;
}
.module-menu .header .input-group-btn li.active a {
  background-color: #f5f5f5;
}
.module-menu .header .group-selector button {
  background-color: #101010;
  color: #999;
  font-size: 1.4rem;
}
.module-menu .header .caret {
  display: inline-block;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.module-menu .header .group-selector.is-active+input {
  padding-right: 3.6rem;
  width: 26rem;
}
.module-menu .header .btn-default {
  border-color: #4d4d4d;
}
.module-menu .header .dropdown-action {
  float: right;
}
.module-menu .header .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #333;
  display: block;
  transition: 0.3s;
  font-size: 1.6rem;
  font-weight: 600;
}
.module-menu .header .sidenav .menu-header {
  margin-bottom: 2.4rem;
  margin-top: 3rem;
  padding-bottom: 0;
  list-style: none;
}
.module-menu .header .sidenav .menu-header a {
  color: #ff8c00;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-weight: 600;
}
.module-menu .header .sidenav .menu-header a:hover {
  color: #ff8c00;
}
.module-menu .header .sidenav {
  margin-right: 50px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ccc;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: left;
  padding-left: 0;
}
.module-menu .header .border {
  border-bottom: 1px solid #333;
  list-style: none;
}
.module-menu .header #main {
  transition: margin-left .5s;
  color: #fff;
  font-size: 15px;
}
.module-menu .header .fa-chevron-right {
  font-size: 12px;
}
.module-menu .header .form-group {
  margin-bottom: 16px;
}
.module-menu .header .select-wrapper {
  position: relative;
}
.module-menu .header .form-control {
  font-size: 1.4rem;
  height: 4.4rem;
  padding: .6rem 1.2rem;
  background-color: #fff;
  border-radius: 0;
  box-shadow: none;
  color: #666;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-weight: 400;
}
.module-menu .header .sidebar-controls {
  padding: 0 1.8rem 0 1.8rem;
}
.module-menu .header .button {
  text-align: center;
  margin-top: 0;
  width: 100%;
  border: 0;
  display: inline-block;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .1em;
  line-height: 1.8rem;
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.module-menu .header .tight {
  text-align: right;
  width: 50px;
}
.module-menu .header .light {
  background: #999;
  color: #fff;
}
.module-menu .header .primary {
  background: #ff8c00;
  color: #fff;
}
.module-menu .header .sidebar-controls a {
  margin-bottom: 2.4rem;
  margin-top: 3rem;
  padding-bottom: 0;
  padding: 8px 8px;
}
@media screen and (max-width: 1366px) and (min-width: 768px) {
  .module-menu .header .search-field-mask .search-tablet-trigger {
    width: 4rem;
    height: 4rem;
    background: #333;
    float: right;
    color: #fff;
    margin-top: 1rem;
    padding: 1rem;
    display: block;
  }
  .module-menu .header .search-field {
    width: 100%;
    background: #fff;
  }
  .module-menu .header .input-group {
    width: 100%;
  }
  .module-menu .header .search-field .group-selector .dropdown-toggle {
    background: #ccc;
    color: #333;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .module-menu .header #searchInput {
    width: 79%;
    font-size: 1.8rem;
    color: #666;
    background: #fff;
    border-bottom: 0;
    border-right: 0;
  }
  .module-menu .header .sidenav {
    display: none;
  }
}
@media screen and (max-width: 1366px) and (min-width: 768px) {
  .module-menu .header .search-field .group-selector button {
    font-size: 1.8rem;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
  }
  .module-menu .header .search-field .form-control {
    height: 7rem;
  }
}
@media screen and (max-width: 1366px) and (min-width: 1025px) {
  .module-menu .header .search-field .group-selector button {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .module-menu .header .search-field .form-control {
    height: 5rem;
  }
}
@media screen and (max-width: 830px) and (min-width: 768px) {
  .module-menu .header .navbar-nav li {
    margin: 0 1.1rem;
  }
}
@media (min-width: 768px) {
  .module-menu .header .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .module-menu .header .navbar-header {
    float: left;
  }
}
@media (max-width: 767px) {
  .module-menu .header .text-center {
    display: none;
  }
  .module-menu .header .navbar-nav {
    display: none;
  }
  .module-menu .header .navbar-brand {
    display: inline-block;
    float: none;
    opacity: 1 !important;
    width: 10rem;
    padding: .8rem 0 0 0;
  }
  .module-menu .header .search-trigger {
    background: transparent;
    color: #fff;
    font-size: 2rem;
    margin-top: 0;
    margin-right: .5rem;
  }
  .module-menu .header .navbar-toggle {
    border: none;
    margin-left: 0;
    padding-top: .6rem;
  }
  .module-menu .header .group-selector ul.dropdown-menu li {
    display: inline-block;
    float: none;
    width: auto;
  }
  .module-menu .header .search-field {
    position: absolute;
    right: 0;
    left: 0;
    background-color: #fff;
    color: #000;
    margin-top: 0;
    border: none;
    display: none;
  }
  .module-menu .header .search-field .group-selector button.dropdown-toggle {
    display: none;
  }
  .module-menu .header .search-field .group-selector.is-active+input {
    width: 100%;
    height: 5rem;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
  }
  .module-menu .header .search-field .group-selector ul.dropdown-menu {
    width: 100%;
    display: block;
    visibility: visible !important;
    background: #edeeef;
    position: absolute;
    overflow: auto;
  }
  .module-menu .header .search-field .group-selector ul.dropdown-menu li {
    display: inline-block;
    float: none;
    width: auto;
  }
  .module-menu .header .search-field .group-selector ul.dropdown-menu li:first-child {
    padding-left: 1.7rem;
  }
  .module-menu .header .search-field .group-selector .active {
    border-bottom: .2rem solid #ff7600;
  }
  .module-menu .header .search-field .group-selector ul.dropdown-menu li a {
    padding: 1.5rem 1.4rem;
    display: inline-block;
    background: none;
  }
}
@media screen and (max-height: 450px) {
  .module-menu .header .sidenav {
    padding-top: 15px;
  }
  .module-menu .header .sidenav a {
    font-size: 18px;
  }
}
.module-menu .header .navbar-default {
  background: transparent;
  border: none;
  min-height: 116px;
}
.module-menu .header .navbar {
  border-radius: 0;
  margin-bottom: 0;
  box-shadow: none;
}
.module-menu .header .text-center {
  text-align: center;
}
.module-menu .header .header-bar {
  background: black;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.module-menu .header .mega-container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 160rem;
  padding: 0.3rem 1rem;
}
.module-menu .header .language-switcher img {
  margin-right: 1rem;
}
.module-menu .header img {
  vertical-align: middle;
}
.module-menu .header .action-bar a span {
  vertical-align: middle;
}
.module-menu .header .button.tight,
.module-menu .header a.button.tight {
  font-size: 10px;
  line-height: normal;
  padding: .4rem .8rem;
}
.module-menu .header .button.x-dark:hover,
.module-menu .header a.button.x-dark:hover {
  background: #666;
  color: #fff;
}
.module-menu .header .action-bar a .fa {
  color: #4f5053;
  margin: 0 .8rem;
  vertical-align: middle;
}
.module-menu .header .action-bar p {
  font-size: 1.4rem;
}
.module-menu .header select-wrapper {
  position: relative;
}
.module-menu .header select.form-control {
  padding: .6rem 3.5rem .6rem 1.2rem;
}
.module-menu .header .button.primary {
  background: #ff8c00;
  color: #fff;
}
.module-menu .header .button,
.module-menu .header a.button {
  border: 0;
  display: inline-block;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.module-menu .header .dropdown {
  position: relative;
}
.module-menu .header .action-bar .dropdown>a {
  display: inline-block;
  margin: 1.4rem 0 1.4rem 1.4rem;
  padding: .1rem 1rem .2rem 1rem;
}
.module-menu .header header-component .action-bar .dropdown .dropdown-menu {
  border-radius: 0;
  border: none;
  margin: -1.4rem 0 0 0;
}
.module-menu .header .dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
}
.module-menu .header .action-bar .dropdown .dropdown-menu li a {
  color: #0092bd;
}
.module-menu .header .action-bar .dropdown a {
  font-weight: 500;
  margin-left: 0;
  color: #fff;
}
.module-menu .header .dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 1.42857143;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .module-menu .header .text-right {
    display: none;
  }
}
@media only screen and (min-width: 767px) {
  .tabs_menu {
    display: none;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 767px) {
  .navbar.navbar-default {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: none;
  }
  .navbar.navbar-default .navbar-header {
    position: fixed;
    margin: 0;
    top: 0;
    border-bottom: 1px solid #dedede;
    z-index: 999;
  }
  .navbar.navbar-default .navbar-header .navbar-toggle {
    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 100;
    background-color: dimgrey;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: top 0.3s linear, left 0.3s linear, opacity 0.3s linear;
    -moz-transition: top 0.3s linear, left 0.3s linear, opacity 0.3s linear;
    -ms-transition: top 0.3s linear, left 0.3s linear, opacity 0.3s linear;
    -o-transition: top 0.3s linear, left 0.3s linear, opacity 0.3s linear;
    transition: top 0.3s linear, left 0.3s linear, opacity 0.3s linear;
    -ms-touch-action: none !important;
  }
  .navbar.navbar-default .navbar-header .navbar-toggle:hover {
    background-color: #111;
  }
  .navbar.navbar-default .navbar-header .navbar-close,
  .navbar.navbar-default .navbar-header .navbar-logo,
  .navbar.navbar-default .navbar-header .navbar-brand {
    display: none;
  }
  .navbar.navbar-default .navbar-header .navbar-close,
  .navbar.navbar-default .navbar-header .navbar-brand {
    width: 100%;
  }
  .navbar.navbar-default .navbar-header .navbar-close {
    background: red;
    padding: 8px 10px;
    width: 100%;
  }
  .navbar.navbar-default .navbar-header .navbar-logo {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
  }
  .navbar.navbar-default .navbar-header .navbar-brand {
    text-align: center;
  }
  .navbar.navbar-default .navbar-collapse {
    display: none;
    max-height: none;
    border-top: none;
    box-shadow: none;
  }
  .navbar.navbar-default .navbar-collapse .navbar-nav {
    margin: 0 -15px;
  }
  .navbar.navbar-default .navbar-collapse .navbar-nav li {
    border-bottom: 1px solid #dedede;
  }
  .navbar.navbar-default .navbar-collapse .navbar-nav li.navbar-nav-group {
    display: block;
    padding: 2px 0 0 15px;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: bold;
    background-color: #dedede;
    color: #777;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    margin-top: -1;
  }
  .navbar.navbar-default .navbar-collapse .navbar-nav li:last-child {
    border-bottom: none;
  }
  .container-overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .container {
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.2,0.3,0.25,0.9);
    -moz-transition: -moz-transform 0.3s cubic-bezier(0.2,0.3,0.25,0.9);
    -ms-transition: -ms-transform 0.3s cubic-bezier(0.2,0.3,0.25,0.9);
    -o-transition: -o-transform 0.3s cubic-bezier(0.2,0.3,0.25,0.9);
    transition: transform 0.3s cubic-bezier(0.2,0.3,0.25,0.9);
    background-color: inherit;
  }
  .navbar-open .navbar.navbar-default .navbar-header .navbar-toggle {
    display: none;
  }
  .navbar-open .container-overlay {
    display: block;
    z-index: 300;
  }
  .navbar-open .container {
    -webkit-transform: translate3d(272px,0,0);
    -moz-transform: translate3d(272px,0,0);
    -o-transform: translate3d(272px,0,0);
    transform: translate3d(272px,0,0);
  }
  .navbar-transition .navbar.navbar-default {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    z-index: 999;
  }
  .navbar-transition .navbar.navbar-default::-webkit-scrollbar {
    display: none;
  }
  .navbar-transition .navbar.navbar-default .navbar-header .navbar-toggle {
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    top: 0;
  }
  .navbar-transition .navbar.navbar-default .navbar-header .navbar-close,
  .navbar-transition .navbar.navbar-default .navbar-header .navbar-logo,
  .navbar-transition .navbar.navbar-default .navbar-header .navbar-brand {
    display: block;
  }
  .navbar-transition .navbar.navbar-default .navbar-collapse {
    display: block;
    width: 272px;
  }
}
