.module-4021 .swiper-container {
  overflow: hidden;
}
.module-4021 .swiper-container h3 {
  text-align: center;
  font-weight: 600;
  margin: 7rem 0;
}
.module-4021 .swiper-container p {
  margin-bottom: 4.6rem;
  margin-top: 0;
  color: #666;
  font-family: 'Calibre', Arial, Sans-Serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.3rem;
}
.module-4021 .swiper-container .swiper-wrapper {
  display: -webkit-box;
}
.module-4021 .swiper-container .swiper-wrapper .swiper-slide {
  cursor: pointer;
}
.module-4021 .swiper-container .swiper-wrapper .swiper-slide .content img {
  width: 100%;
}
.module-4021 .swiper-container .swiper-wrapper .swiper-slide .content .text h4 {
  font-size: 2.8rem;
  cursor: pointer;
  color: #333;
  font-weight: 600;
}
.module-4021 .swiper-container .swiper-wrapper .swiper-slide .content .text h4:hover {
  opacity: 0.8;
}
.module-4021 .swiper-container .swiper-wrapper .swiper-slide .content .text p {
  color: #666;
  font-size: 1.4rem;
}
.module-4021 .swiper-container .swiper-button-next,
.module-4021 .swiper-container .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 2.7rem;
  height: 4.4rem;
  margin-top: -2.2rem;
  cursor: pointer;
}
.module-4021 .swiper-container .swiper-button-prev,
.module-4021 .swiper-container .swiper-container-rtl .swiper-button-next {
  border-radius: 11.5rem;
  height: 11.5rem;
  width: 11.5rem;
  background: rgba(0,0,0,0.1);
  left: 7rem;
  right: auto;
  opacity: 0;
  position: absolute;
  top: 37rem;
}
.module-4021 .swiper-container .fa.fa-angle-left {
  position: relative;
  color: #fff;
  font-size: 10rem;
  left: 3.5rem;
}
.module-4021 .swiper-container .swiper-button-next,
.module-4021 .swiper-container .swiper-container-rtl .swiper-button-prev {
  border-radius: 11.5rem;
  height: 11.5rem;
  width: 11.5rem;
  background: rgba(0,0,0,0.1);
  right: 6.5rem;
  left: auto;
  opacity: 0;
  position: absolute;
  top: 37rem;
}
.module-4021 .swiper-container .fa.fa-angle-right {
  position: relative;
  color: #fff;
  font-size: 10rem;
  left: 4rem;
}
.module-4021 .swiper-container .swiper-pagination {
  cursor: pointer;
  text-align: center;
  margin-top: -3rem;
  margin-bottom: 5rem;
}
.module-4021 .swiper-container .swiper-container-horizontal>.swiper-pagination-bullets,
.module-4021 .swiper-container .swiper-pagination-custom,
.module-4021 .swiper-container .swiper-pagination-fraction {
  bottom: 1rem;
  left: 0;
  width: 100%;
}
.module-4021 .swiper-container .swiper-pagination-bullet {
  width: 0.8rem;
  height: 0.8rem;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2;
}
.module-4021 .swiper-container .swiper-pagination-bullet-active {
  opacity: 1;
  background: #333;
}
.module-4021 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0.5rem;
}
.module-4021 .swiper-container:hover .swiper-button-prev,
.module-4021 .swiper-container:hover .swiper-container-rtl .swiper-button-next,
.module-4021 .swiper-container:hover .swiper-button-next,
.module-4021 .swiper-container:hover .swiper-container-rtl .swiper-button-prev {
  opacity: 1;
}
.module-4021 .contact-2 {
  display: none;
}
@media (max-width: 1199px) {
  .module-4021 .swiper-container .swiper-slide .content .text p {
    font-size: 1.1rem !important;
  }
  .module-4021 .swiper-container .swiper-button-prev,
  .module-4021 .swiper-container .swiper-container-rtl .swiper-button-next,
  .module-4021 .swiper-container .swiper-button-next,
  .module-4021 .swiper-container .swiper-container-rtl .swiper-button-prev {
    top: 33rem;
  }
}
@media (max-width: 991px) {
  .module-4021 .swiper-container .swiper-slide .content .text p {
    font-size: 1rem !important;
  }
  .module-4021 .swiper-container .swiper-button-prev,
  .module-4021 .swiper-container .swiper-container-rtl .swiper-button-next,
  .module-4021 .swiper-container .swiper-button-next,
  .module-4021 .swiper-container .swiper-container-rtl .swiper-button-prev {
    top: 27rem;
  }
}
@media (max-width: 767px) {
  .module-4021 .contact-1 {
    display: none;
  }
  .module-4021 .contact-2 {
    display: block;
  }
  .module-4021 p {
    padding-left: 1.2rem;
  }
}
