.module-4022{
    text-align: center;
    .home{
        position: absolute;
        margin-left: 15px;
        text-align: center;
        .ome{
            color: #666;
            cursor: pointer;
        }
        .ome:hover{
            color: #333;

        }
        .big{
            color: #ff7600;
            margin: 0 5px;
        }
        .sup{
            color: #333;
        }
    }
    img{
        width: 83px;
        height: 83px;
    }
    h1{
        font-size: 45px;
        font-weight: 600;
        margin: 80px 0 30px 0;
    }
    .mega-container{
        background-image: linear-gradient(-135deg,rgba(0,0,0,.06) 0%,rgba(0,0,0,.06) 38%,rgba(255,255,255,0) 38%,rgba(255,255,255,0) 100%),linear-gradient(-45deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 35%,rgba(255,255,255,.5) 35%,rgba(255,255,255,.5) 100%);
        background-color: #eff0f1;
        padding: 0 2rem;


        .support{
            padding: 65px 0 75px 0;
            background-color: #e1e1e1;
            position: relative;
            margin: 0 -1.6rem 8rem -1.6rem;
            h3{
                font-weight: 600;
                margin: 20px 0 20px 0;
                font-size: 26px;
            }
            p{
                padding: 0px 50px 0px 50px;
                color: #666;
                font-size: 17px;
            }
            select{ 
                border: #fff;
                margin: 10px 0 100px 0;
                color: #666;
                width: 68%;

                height: 50px;
                padding: 0px 10px 0 10px;
            }
            .submit{
                a{
                    text-transform: uppercase;
                    text-decoration: initial;
                    color: #fff;
                }
                .primary{
                    background: #ff8c00;
                    padding: 17px 41px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    font-size: 12px;
                }
                a:hover{
                    background: #fa0;
                }
            }
        }
        .locate{
            position: relative;
            margin: 0 -1.6rem 8rem -1.6rem;
            padding: 65px 0 75px 0;
            background-color: #d7d7d7;
            h3{
                font-weight: 600;
                margin: 20px 0 20px 0;
                font-size: 26px;
            }
            p{
                padding: 0px 50px 0px 50px;
                color: #666;
                font-size: 17px;
            }
            input{
                border: #fff;
                color: #666;
                width: 68%;

                height: 50px;
                padding: 0px 10px 0 10px;
            }
            .filter{
                cursor: pointer;
                text-align: left;
                font-weight: 600;
                background: #fff;
                color: #666;
                margin: 15px 97px 45px 16%;
                width: 68%;

                height: 50px;
                padding: 15px 10px 0px 10px;
                .fa{
                    float: right;
                    font-size: 25px;
                    position: relative;
                    bottom: 2px;
                }
            }
            .submit{
                a{
                    text-transform: uppercase;
                    text-decoration: initial;
                    color: #fff;
                }
                .primary{
                    background: #ff8c00;
                    padding: 17px 41px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    font-size: 12px;
                }
                a:hover{
                    background: #fa0;
                }
            }
        }
    }
    .mega-2-container{
        background-color: #fff;
        position: absolute;
        width: 100%;
        top: 54rem;
        height: 35rem;
        padding: 3rem 25rem;
        z-index: 1;
        display: none;
        .out{
            font-weight: bold;
            font-size: 2rem;
            text-align: right;
            position: relative;
            left: 15rem;
            cursor: pointer;
        }
        .out:hover{
            opacity: 0.8;

        }

        .check{
            display: flex;
            margin-bottom: 1rem;
            .checkbox-hidden {
                opacity: 0;
                position: absolute;
            }
            .checkbox-custom {
                background: #ccc;
                cursor: pointer;
                width: .9rem;
                height: .9rem;
                position: absolute;
                margin-left: -1.7rem;
                margin-top: .4rem;
                text-align: center;
            }
            .checkbox-text{
                font-weight: 500;
            }
            .checkbox-hidden:checked+.checkbox-custom {
                background: #ff8c00;
            }
        }
        .submit-3{
            a{
                text-transform: uppercase;
                text-decoration: initial;
                color: #fff;
            }
            .primary{
                position: relative;
                background: #ff8c00;
                padding: 17px 41px;
                font-weight: 600;
                letter-spacing: 1px;
                font-size: 12px;
                top: 30px;
            }
            a:hover{
                background: #fa0;
            }
        }
    }
    @media(max-width:1199px){

    }
    @media(max-width:991px) and (min-width: 768px){
        .mega-container{
            h1{
                font-size: 3.5rem;
            }
            img{
                width: 65px;
                height: 65px;
            }
            .support,.locate{
                h3{
                    font-weight: 800;
                    font-size: 18px;
                    padding: 0px 60px;
                }
                p{
                    font-size: 11px;
                }
                select,input,.filter{
                    font-size: 11px;
                    height: 35px !important;
                }
                .submit{
                    .primary{
                        padding: 15px 20px;
                        font-size: 11px;
                    }
                }
            }

        }
        .mega-2-container{
            padding: 1rem 16rem;
            top: 49rem;
            .out{
                left: 8rem;
            }
            .check{
                .checkbox-text{
                    font-size: 12px;
                }
            }
            .submit-3{
                .primary{
                    padding: 15px 20px;
                    font-size: 11px;
                }
            }
        }
    }
    @media(max-width:767px){
        .home{
            display: none;
        }
        .mega-container{
            background-color: #c6c9ca;
            background-image: none;
            h1{
                font-size: 25px;
            }
            .support,.locate{
                margin: 0 -1.6rem 0rem -1.6rem;
                .filter{
                    margin: 15px 97px 45px 1.5%;
                }
            }
            select,input,.filter{
                width: 97% !important;
            }
        }
        .mega-2-container{
            padding: 3rem 3rem;
            top: 103rem;
            .out{
                left: 0;
            }
        }
    }
    @media(max-width:748px){
        .mega-2-container{
            top: 105rem;
        }
    }
    @media(max-width:636px){
        .mega-2-container{
            top: 107rem;
        }
    }
    @media(max-width:551px){
        .mega-2-container{
            top: 110rem;
        }
    }
    @media(max-width:470px){
        .mega-2-container{
            top: 116rem;
        }
    }
    @media(max-width:469px){
        .mega-2-container{
            top: 118rem;
        }
    }
    @media(max-width:465px){
        .mega-2-container{
            top: 121rem;
        }
    }
    @media(max-width:393px){
        .mega-2-container{
            top: 123rem;
        }
    }
    @media(max-width:379px){
        .mega-2-container{
            top: 125rem;
        }
    }
    @media(max-width:359px){
        .mega-2-container{
            top: 128rem;
        }
    }
}
