.module-4022 .type-1 {
  background-image: linear-gradient(-135deg,rgba(0,0,0,0.06) 0%,rgba(0,0,0,0.06) 38%,rgba(255,255,255,0) 38%,rgba(255,255,255,0) 100%), linear-gradient(-45deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 35%,rgba(255,255,255,0.5) 35%,rgba(255,255,255,0.5) 100%);
  background-color: #eff0f1;
  text-align: center;
  padding: 30px 0 80px 0;
}
.module-4022 .type-1 .home {
  position: relative;
  margin-left: 15px;
  bottom: 25px;
  text-align: left;
}
.module-4022 .type-1 .home .ome {
  color: #666;
  cursor: pointer;
}
.module-4022 .type-1 .home .ome:hover {
  color: #333;
}
.module-4022 .type-1 .home .big {
  color: #ff7600;
  margin: 0 5px;
}
.module-4022 .type-1 .home .sup {
  color: #333;
}
.module-4022 .type-1 .content img {
  width: 83px;
  height: 83px;
}
.module-4022 .type-1 .content .col-sm-6 {
  padding-left: 0px;
  padding-right: 0px;
}
.module-4022 .type-1 .content h1 {
  font-size: 45px;
  font-weight: 600;
  margin: 20px 0 30px 0;
}
.module-4022 .type-1 .content .support {
  padding: 65px 0 75px 0;
  background-color: #e1e1e1;
}
.module-4022 .type-1 .content .support h3 {
  font-weight: 600;
  margin: 20px 0 20px 0;
  font-size: 26px;
}
.module-4022 .type-1 .content .support p {
  padding: 0px 50px 0px 50px;
  color: #666;
  font-size: 17px;
}
.module-4022 .type-1 .content .support select {
  border: #fff;
  margin: 10px 0 100px 0;
  color: #666;
  width: 390px;
  height: 50px;
  padding: 0px 10px 0 10px;
}
.module-4022 .type-1 .content .support .submit a {
  text-transform: uppercase;
  text-decoration: initial;
  color: #fff;
}
.module-4022 .type-1 .content .support .submit .primary {
  background: #ff8c00;
  padding: 17px 41px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
}
.module-4022 .type-1 .content .support .submit a:hover {
  background: #fa0;
}
.module-4022 .type-1 .content .locate {
  padding: 65px 0 75px 0;
  background-color: #d7d7d7;
}
.module-4022 .type-1 .content .locate h3 {
  font-weight: 600;
  margin: 20px 0 20px 0;
  font-size: 26px;
}
.module-4022 .type-1 .content .locate p {
  padding: 0px 50px 0px 50px;
  color: #666;
  font-size: 17px;
}
.module-4022 .type-1 .content .locate input {
  border: #fff;
  color: #666;
  width: 390px;
  height: 50px;
  padding: 0px 10px 0 10px;
}
.module-4022 .type-1 .content .locate .filter {
  cursor: pointer;
  text-align: left;
  font-weight: 600;
  background: #fff;
  color: #666;
  margin: 15px 97px 45px 97px;
  width: 390px;
  height: 50px;
  padding: 15px 10px 0px 10px;
}
.module-4022 .type-1 .content .locate .filter .fa {
  float: right;
  font-size: 25px;
  position: relative;
  bottom: 2px;
}
.module-4022 .type-1 .content .locate .submit a {
  text-transform: uppercase;
  text-decoration: initial;
  color: #fff;
}
.module-4022 .type-1 .content .locate .submit .primary {
  background: #ff8c00;
  padding: 17px 41px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
}
.module-4022 .type-1 .content .locate .submit a:hover {
  background: #fa0;
}
.module-4022 .type-1 .filter-text {
  display: none;
  position: absolute;
  padding: 15px 0 60px 0;
  background: #fff;
  text-align: center;
  width: 100%;
  top: 535px;
}
.module-4022 .type-1 .filter-text .container {
  padding: 0 15rem;
  position: relative;
}
.module-4022 .type-1 .filter-text div.col-xs-12.col-sm-4 {
  margin-bottom: 50px;
}
.module-4022 .type-1 .filter-text .x {
  color: #666;
  font-size: 20px;
  text-align: right;
  position: relative;
  left: 14%;
  top: 10px;
  cursor: pointer;
}
.module-4022 .type-1 .filter-text .list {
  margin: 5px 0;
}
.module-4022 .type-1 .filter-text .list .checkbox-text {
  font-weight: 500;
}
.module-4022 .type-1 .filter-text .list .checkbox-hidden {
  opacity: 0;
  position: absolute;
}
.module-4022 .type-1 .filter-text .list .checkbox-custom {
  cursor: pointer;
  background: #ccc;
  width: .9rem;
  height: .9rem;
  position: absolute;
  margin-left: -1.7rem;
  margin-top: .4rem;
  text-align: center;
}
.module-4022 .type-1 .filter-text .list .checkbox-hidden:checked+.checkbox-custom {
  background: #ff8c00;
}
.module-4022 .type-1 .filter-text .done a {
  text-transform: uppercase;
  text-decoration: initial;
  color: #fff;
}
.module-4022 .type-1 .filter-text .done .primary {
  background: #ff8c00;
  padding: 17px 41px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
}
.module-4022 .type-1 .filter-text .done a:hover {
  background: #fa0;
}
@media (max-width: 1199px) and (min-width: 992px) {
  .module-4022 .type-1 .home {
    font-size: 11px;
  }
  .module-4022 .type-1 .content img {
    width: 70px;
    height: 70px;
  }
  .module-4022 .type-1 .content .support h3,
  .module-4022 .type-1 .content .locate h3 {
    font-size: 21px;
  }
  .module-4022 .type-1 .content .support p,
  .module-4022 .type-1 .content .locate p {
    font-size: 12px;
  }
  .module-4022 .type-1 .content .support .submit .primary,
  .module-4022 .type-1 .content .locate .submit .primary {
    padding: 15px 25px;
    font-size: 11px;
  }
  .module-4022 .type-1 .content .support select {
    font-size: 12px;
    width: 290px;
    height: 40px;
  }
  .module-4022 .type-1 .content .locate input {
    font-size: 12px;
    width: 290px;
    height: 40px;
  }
  .module-4022 .type-1 .content .locate .filter {
    margin: 15px 97px 55px 97px;
    font-size: 12px;
    width: 290px;
    height: 40px;
  }
  .module-4022 .type-1 .content .locate .filter .fa {
    bottom: 5px;
  }
  .module-4022 .type-1 .filter-text {
    top: 480px;
  }
  .module-4022 .type-1 .filter-text .col-xs-12 .col-sm-4 {
    margin-bottom: 40px;
  }
  .module-4022 .type-1 .filter-text .x {
    left: 18%;
  }
  .module-4022 .type-1 .filter-text .list .text {
    font-size: 13px;
  }
  .module-4022 .type-1 .filter-text .done .primary {
    padding: 15px 25px;
    font-size: 11px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .module-4022 .type-1 .home {
    font-size: 11px;
  }
  .module-4022 .type-1 .content .col-xs-12 .col-sm-4 {
    margin-bottom: 30px;
  }
  .module-4022 .type-1 .content h1 {
    font-size: 35px;
  }
  .module-4022 .type-1 .content img {
    width: 60px;
    height: 60px;
  }
  .module-4022 .type-1 .content .support h3,
  .module-4022 .type-1 .content .locate h3 {
    font-size: 20px;
    padding: 0 30px 0 30px;
  }
  .module-4022 .type-1 .content .support p,
  .module-4022 .type-1 .content .locate p {
    font-size: 11px;
  }
  .module-4022 .type-1 .content .support .submit .primary,
  .module-4022 .type-1 .content .locate .submit .primary {
    padding: 12px 20px;
    font-size: 10px;
  }
  .module-4022 .type-1 .content .support select {
    font-size: 10px;
    width: 220px;
    height: 35px;
  }
  .module-4022 .type-1 .content .locate input {
    font-size: 10px;
    width: 220px;
    height: 35px;
  }
  .module-4022 .type-1 .content .locate .filter {
    margin: 15px 78px 60px 78px;
    font-size: 10px;
    width: 220px;
    height: 35px;
  }
  .module-4022 .type-1 .content .locate .filter h {
    position: relative;
    bottom: 4px;
  }
  .module-4022 .type-1 .content .locate .filter .fa {
    bottom: 10px;
  }
  .module-4022 .type-1 .filter-text {
    top: 465px;
  }
  .module-4022 .type-1 .filter-text div.col-xs-12.col-sm-4 {
    margin-bottom: 40px;
  }
  .module-4022 .type-1 .filter-text .x {
    left: 25%;
  }
  .module-4022 .type-1 .filter-text .list .text {
    font-size: 11px;
  }
  .module-4022 .type-1 .filter-text .done .primary {
    padding: 12px 20px;
    font-size: 10px;
  }
}
@media (max-width: 767px) {
  .module-4022 .type-1 .home {
    display: none;
  }
  .module-4022 .type-1 .content h1 {
    font-size: 24px;
  }
  .module-4022 .type-1 .content .support select {
    width: 100%;
    margin: 10px 0 40px 0;
  }
  .module-4022 .type-1 .content .locate input {
    width: 100%;
  }
  .module-4022 .type-1 .content .locate .filter {
    width: 100%;
    margin: 15px 0px 45px 0px;
  }
  .module-4022 .type-1 .filter-text {
    top: 890px;
    text-align: left;
  }
  .module-4022 .type-1 .filter-text .container {
    padding: 0 4rem;
  }
  .module-4022 .type-1 .filter-text div.col-xs-12.col-sm-4 {
    margin-bottom: 0px;
  }
  .module-4022 .type-1 .filter-text .x {
    left: 2%;
  }
  .module-4022 .type-1 .filter-text .list {
    margin: 10px 0;
  }
  .module-4022 .type-1 .filter-text .list .text {
    font-size: 12px;
  }
  .module-4022 .type-1 .filter-text .done {
    text-align: center;
    margin-top: 30px;
  }
}
@media (max-width: 709px) {
  .module-4022 .type-1 .filter-text {
    top: 935px;
  }
}
@media (max-width: 491px) {
  .module-4022 .type-1 .filter-text {
    top: 960px;
  }
}
@media (max-width: 431px) {
  .module-4022 .type-1 .filter-text {
    top: 1065px;
  }
}
@media (max-width: 767px) {
  .module-4022 .type-1 {
    padding: 2rem 0px 3rem;
    background-color: #c6c9ca;
    background-image: none;
  }
}
