.module-4017 .contacts {
  text-align: center;
  margin-bottom: 6rem;
}
.module-4017 .contacts h3 {
  font-weight: 600;
}
.module-4017 .tren .content {
  margin-bottom: 2.5rem;
  background: #4d4d4d;
}
.module-4017 .tren .content p {
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}
.module-4017 .tren .content p span {
  font-size: 1.2rem;
  margin-left: 3rem;
  color: #00b5ef;
  cursor: pointer;
}
.module-4017 .tren .content p span:hover {
  color: #0092bd;
}
.module-4017 .tren .contacts-notification {
  display: none;
  left: 30%;
  position: absolute;
  bottom: 36%;
  text-align: center;
  border: 1px solid #ccc;
  background: #fff;
  width: 450px;
  height: 250px;
}
.module-4017 .tren .contacts-notification .x {
  cursor: pointer;
  text-align: right;
  font-size: 2rem;
  margin: 0px 5px 0px 0px;
}
.module-4017 .tren .contacts-notification h4 {
  font-weight: 600;
  margin: 3rem 0 3rem 0;
}
.module-4017 .tren .contacts-notification select {
  border-color: #fff;
  padding: 0 1rem;
  background: #eff0f1;
  width: 345px;
  height: 45px;
}
.module-4017 .tren .contacts-notification select option {
  color: #666;
}
.module-4017 .tren .contacts-notification .change {
  background: #ff8c00;
  position: relative;
  left: 35%;
  margin-top: 3rem;
  width: 125px;
  height: 50px;
}
.module-4017 .tren .contacts-notification .change h1 {
  position: relative;
  top: 30%;
  font-weight: 600;
  color: #fff;
}
.module-4017 .tren .contacts-notification .change:hover {
  background: #fa0;
}
.module-4017 .tren .contact-list {
  padding-left: 27px;
  margin-bottom: 3rem;
}
.module-4017 .tren .contact-list h4 {
  font-size: 1.4rem;
  font-weight: 600;
}
.module-4017 .tren .contact-list .item {
  margin-bottom: 1rem;
  color: #0092bd;
  font-size: 1.5rem;
}
.module-4017 .tren .contact-list .item .fa-phone {
  color: #000;
}
.module-4017 .tren .contact-list .item .fa {
  margin-right: 1rem;
}
.module-4017 .tren .contact-list .item:hover {
  color: #000;
}
.module-4017 .tren .contact-list h1 {
  color: #666;
  font-size: 1.8rem;
  margin-top: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.module-4017 .tren .contact-list a {
  text-decoration: none;
  color: #000;
}
.module-4017 .tren .contact-list .unin {
  color: #666;
}
.module-4017 .tren .hang2 {
  background-color: #f0f3f3;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.module-4017 .tren .submit {
  margin-bottom: 6rem;
  text-align: center;
}
.module-4017 .tren .submit a {
  text-transform: uppercase;
  text-decoration: initial;
  color: #fff;
}
.module-4017 .tren .submit .primary {
  background: #ff8c00;
  padding: 1.7rem 4.1rem;
  font-weight: 600;
  letter-spacing: .1rem;
  font-size: 1.2rem;
}
.module-4017 .tren .submit a:hover {
  background: #fa0;
}
@media (max-width: 767px) {
  .module-4017 .tren .contacts-notification {
    left: 50% !important;
    width: auto;
    position: fixed;
    top: auto !important;
    bottom: 15px;
    z-index: 10000;
    max-width: 500px;
    transform: translate(-50%,0);
    min-width: 320px;
    margin: 0;
  }
  .module-4017 .tren .content p {
    font-size: 12px;
  }
  .module-4017 .tren .content p span {
    color: #0092bd;
    font-size: 1.2rem;
    margin: 3rem;
    position: absolute;
    right: -1.3rem;
  }
  .module-4017 .tren .contact-list .col-sm-2 .item.item {
    margin-bottom: .4rem;
  }
  .module-4017 .tren .contact-list .col-sm-3 {
    padding-top: 1.5rem;
  }
  .module-4017 .tren .contact-list .col-sm-5 {
    padding-top: 1.5rem;
  }
}
.module-4017 .tren .submit .primary {
  padding: 1.4rem 1.4rem;
}
@media (max-width: 767px) {
  .module-4017 .contacts {
    margin-bottom: 1rem;
    padding: 0;
    text-align: left;
  }
  .module-4017 .contacts h3 {
    font-size: 1.5rem;
  }
}
