@import "../../values/less/var.less";
.module-4011{
    height: 38px;
    background-color: @background-insights;
    .menu-chitiet{
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 160rem;
        padding: 0 1rem;
        .navbar{
            margin-bottom: 0;
            ul{
                margin-bottom: 0;
                padding-left: 0;
                margin-left: 0;
                text-align: center;
                list-style: none;
                font-size: 1.8rem;
                line-height: 2.3rem;
                li.prevacti {
                    background-color: @background-active;
                    a {
                        color: #fff;
                    }
                    &:after {
                        top: 100%;
                        left: 50%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-color: rgba(255,118,0,0);
                        border-top-color: #ff7600;
                        border-width: 1.5rem;
                        margin-left: -1.5rem;
                    }
                }
                li{
                    display: inline-block;
                    position: relative;
                    margin: 0 1.2rem;
                    padding: 0;
                    a {
                        color: @textcolor-content-h1-h4;
                        display: block;
                        font-size: 1.8rem;
                        line-height: 2.3rem;
                        padding: .4rem .9rem 1rem;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1199px){
        .menu-chitiet .navbar ul li{
            margin: 0;
            a {
                font-size: 1.6rem;
            }
        }
    }
    @media (max-width: 991px){
        .menu-chitiet .navbar ul li a {
            font-size: 1.2rem;
            padding: .4rem .8rem 1rem;
        }
    }
    @media (max-width: 767px){
        .menu-chitiet{
            display: none;
        }
    }

}