@import "../../values/less/var.less";

.type-4025{
    background: @background-insights;
    .breadcrumb{
        background-color: transparent;
        margin-bottom: 0;
        font-size: 1.3rem;
        line-height: normal;
        padding: 1.6rem 0 0 1.2rem;
        li{
            line-height: 1.8rem;
            font-size: 1.5rem;
            a{
                &:hover {
                    text-decoration: none;
                    color: #333;
                }
            }
        }
        li+li::before{
            color: #ff7600;
            content: "> ";
        }
        .home {
            color: #666;
        }
        .active{
            color: #333;
        }
    }
    .icon-bar{
        text-align: right;
        margin-top: 1.6rem;
        font-size: 2rem;
        .fa{
            padding-right: 2px;
            color: #b6b7b7;
        }
        span{
            background: #ccc;
            color: #fff;
            font-size: 1.2rem;
            padding: .01rem .8rem;
            vertical-align: text-bottom;
        }
    }
    .hienan{
        background: #ccc;
        position: absolute;
        right:0;
        font-size: 2.5rem;
        cursor: pointer;
        right: 0px;
        position: absolute;
        top: 1.3px;
        z-index: 10;
        border: none;
    }
    .nhan{
        color: #ff8c00;
        position: absolute;
        right:0;
        font-size: 2.5rem;
        cursor: pointer;
        right: 0px;
        position: absolute;
        top: 1.3px;
        z-index: 10;
        border: none;
        background: transparent;
    }
    @media (max-width: 1051px){
        .breadcrumb{
            li a{
                font-size: 1.2rem;
            }
            .active{
                font-size: 1.2rem;
            }
        }
        .icon-bar{
            font-size: 2rem;
        }
    }
    @media (max-width: 898px){
        .breadcrumb{
            li a{
                font-size: 1rem;
            }
            .active{
                font-size: 1rem;
            }
        }
    }
    @media (max-width: 787px){
        .breadcrumb{
            li a{
                font-size: 0.9rem;
            }
            .active{
                font-size: 0.9rem;
            }
        }
        .icon-bar{
            font-size: 1.8rem;
        }
    }
    @media (max-width: 767px){
        .breadcrumb, .icon-bar{
            display: none;
        }
        .hienan{
            display: block;
        }
        .nhan{
            display: none;
        }
    }
    @media (min-width: 767px){
        .hienan, .nhan{
            display: none;
        }
    }
}

